---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"message":"Create test file","content":"IyBUZXN0IEZpbGUKClRoaXMgaXMgYSB0ZXN0IGZpbGUgY3JlYXRlZCBieSB0aGUgdGVzdCBzdWl0ZS4=","branch":"main"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-file.md
        method: PUT
      response:
        body: '{"content":{"name":"test-file.md","path":"test-file.md","sha":"eb13954fbe8ab6d75eac3f522141da2edbd0fe97","size":59,"url":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-file.md?ref=main","html_url":"https://github.com/geropl/github-mcp-go-test/blob/main/test-file.md","git_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/eb13954fbe8ab6d75eac3f522141da2edbd0fe97","download_url":"https://raw.githubusercontent.com/geropl/github-mcp-go-test/main/test-file.md","type":"file","_links":{"self":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-file.md?ref=main","git":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/eb13954fbe8ab6d75eac3f522141da2edbd0fe97","html":"https://github.com/geropl/github-mcp-go-test/blob/main/test-file.md"}},"commit":{"sha":"4bfb70ae50f524e6684b41e143b04a44e1899e3d","node_id":"C_kwDOOEmhctoAKDRiZmI3MGFlNTBmNTI0ZTY2ODRiNDFlMTQzYjA0YTQ0ZTE4OTllM2Q","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/4bfb70ae50f524e6684b41e143b04a44e1899e3d","html_url":"https://github.com/geropl/github-mcp-go-test/commit/4bfb70ae50f524e6684b41e143b04a44e1899e3d","author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:48:30Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:48:30Z"},"tree":{"sha":"edf913b96ba51b42c7e5b4bc4dcd448640fa54cb","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/edf913b96ba51b42c7e5b4bc4dcd448640fa54cb"},"message":"Create test file","parents":[{"sha":"f68aa0ed39aae8e2dedef581081dc181d637dded","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/f68aa0ed39aae8e2dedef581081dc181d637dded","html_url":"https://github.com/geropl/github-mcp-go-test/commit/f68aa0ed39aae8e2dedef581081dc181d637dded"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"e8f4d03c0653ea170fbc55620c60a31d1c108715acfd7f27450de7a9dcdf2d70"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            X-Accepted-Github-Permissions:
                - contents=write; contents=write,workflows=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4982"
            X-Ratelimit-Reset:
                - "1741346230"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "18"
        status: 201 Created
        code: 201
        duration: 567.423564ms
