---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/ref/heads/main
        method: GET
      response:
        body: '{"ref":"refs/heads/main","node_id":"REF_kwDOOEmhcq9yZWZzL2hlYWRzL21haW4","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/refs/heads/main","object":{"sha":"ca1eb5488abce927d5f23e769d2812d0950edcef","type":"commit","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/ca1eb5488abce927d5f23e769d2812d0950edcef"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e32815558d4725bff165ed82116bc541fa0c78903f1ef96b0a35a339c4c5794e"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 10:51:54 GMT
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Poll-Interval:
                - "300"
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4820"
            X-Ratelimit-Reset:
                - "1741346230"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "180"
        status: 200 OK
        code: 200
        duration: 209.078616ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/ca1eb5488abce927d5f23e769d2812d0950edcef
        method: GET
      response:
        body: '{"sha":"ca1eb5488abce927d5f23e769d2812d0950edcef","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/ca1eb5488abce927d5f23e769d2812d0950edcef","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"e337dd962793f45d58c42425477ce153e5c15350","size":180,"url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/e337dd962793f45d58c42425477ce153e5c15350"}],"truncated":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"9febc310bcc32e3570b43c6c98342d7a1f543c2c1a08cf362fae169a6a59a007"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 10:51:54 GMT
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4819"
            X-Ratelimit-Reset:
                - "1741346230"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "181"
        status: 200 OK
        code: 200
        duration: 189.718206ms
    - id: 2
      request:
        host: api.github.com
        body: |
            {"base_tree":"ca1eb5488abce927d5f23e769d2812d0950edcef","tree":[{"path":"test-file1.md","mode":"100644","type":"blob","content":"# Test File 1"},{"path":"test-file2.md","mode":"100644","type":"blob","content":"# Test File 2"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/trees
        method: POST
      response:
        body: '{"sha":"956b44b507a803b6c23171848c532aecda53b115","url":"https://api.github.com/repos/geropl/github-[...]
    - id: 3
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/commits/ca1eb5488abce927d5f23e769d2812d0950edcef
        method: GET
      response:
        body: '{"sha":"ca1eb5488abce927d5f23e769d2812d0950edcef","node_id":"C_kwDOOEmhctoAKGNhMWViNTQ4OGFiY2U5MjdkNWYyM2U3NjlkMjgxMmQwOTUwZWRjZWY","commit":{"author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:51:52Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:51:52Z"},"message":"Delete test file","tree":{"sha":"e913e2c86ad3cb8950b3a25a2d112ab5609e8928","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/e913e2c86ad3cb8950b3a25a2d112ab5609e8928"},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/ca1eb5488abce927d5f23e769d2812d0950edcef","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/ca1eb5488abce927d5f23e769d2812d0950edcef","html_url":"https://github.com/geropl/github-mcp-go-test/commit/ca1eb5488abce927d5f23e769d2812d0950edcef","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/ca1eb5488abce927d5f23e769d2812d0950edcef/comments","author":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"578d0c9e212ba512050e6f99022d7e1a3b2a011f","url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/578d0c9e212ba512050e6f99022d7e1a3b2a011f","html_url":"https://github.com/geropl/github-mcp-go-test/commit/578d0c9e212ba512050e6f99022d7e1a3b2a011f"}],"stats":{"total":3,"additions":0,"deletions":3},"files":[{"sha":"1ec8c453fd388044ba356e0be275aacd14bbd608","filename":"test-update-file.md","status":"removed","additions":0,"deletions":3,"changes":3,"blob_url":"https://github.com/geropl/github-mcp-go-test/blob/578d0c9e212ba512050e6f99022d7e1a3b2a011f/test-update-file.md","raw_url":"https://github.com/geropl/github-mcp-go-test/raw/578d0c9e212ba512050e6f99022d7e1a3b2a011f/test-update-file.md","contents_url":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-update-file.md?ref=578d0c9e212ba512050e6f99022d7e1a3b2a011f","patch":"@@ -1,3 +0,0 @@\n-# Test File\n-\n-This is a test file for updating.\n\\ No newline at end of file"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"68f32d7f55a2c4231e21986d3767e533449e0ac3139b07c6ab8a3113cdebadc5"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 10:51:52 GMT
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4817"
            X-Ratelimit-Reset:
                - "1741346230"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "183"
        status: 200 OK
        code: 200
        duration: 247.223151ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"message":"Push multiple test files","tree":"956b44b507a803b6c23171848c532aecda53b115","parents":["ca1eb5488abce927d5f23e769d2812d0950edcef"]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/commits
        method: POST[...]
    - id: 5
      request:
        host: api.github.com
        body: |
            {"sha":"71e42e52026085feda446ce30e6f0f0adbd426dd","force":false}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/refs/heads/main
        method: PATCH
      response:
        body: '{"ref":"refs/heads/main","node_id":"REF_kwDOOEmhcq9yZWZzL2hlYWRzL21haW4","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/refs/heads/main","object":{"sha":"71e42e520[...]
[...]
