---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/commits?page=1&per_page=30&q=language%3Ago+AND+fix+bug
        method: GET
      response:
        body: '{"total_count":70159,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/commits/00245cd506b4d1265c2710e3ffc08aa11389569b","sha":"00245cd506b4d1265c2710e3ffc08aa11389569b","node_id":"MDY6Q29tbWl0NzMyNzY1MjA3OjAwMjQ1Y2Q1MDZiNGQxMjY1YzI3MTBlM2ZmYzA4YWExMTM4OTU2OWI=","html_url":"https://github.com/NeuronActivation/kalja-xyz/commit/00245cd506b4d1265c2710e3ffc08aa11389569b","comments_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/commits/00245cd506b4d1265c2710e3ffc08aa11389569b/comments","commit":{"url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/commits/00245cd506b4d1265c2710e3ffc08aa11389569b","author":{"date":"2025-01-29T22:04:10.000+02:00","name":"Valtteri Viirret","email":"viirretvaltteri@gmail.com"},"committer":{"date":"2025-01-29T22:04:10.000+02:00","name":"GitHub","email":"noreply@github.com"},"message":"Game language going out of sync when calling onMount (#48)\n\nFixing a known bug which is that game language is going out of sync when\r\ncalling `onMount()`.\r\n\r\nCloses #40","tree":{"url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/trees/00cdc4ddcdc9d17d5b9bb592c9b0d7e24a617e8f","sha":"00cdc4ddcdc9d17d5b9bb592c9b0d7e24a617e8f"},"comment_count":0},"author":{"login":"viirret","id":74915582,"node_id":"MDQ6VXNlcjc0OTE1NTgy","avatar_url":"https://avatars.githubusercontent.com/u/74915582?v=4","gravatar_id":"","url":"https://api.github.com/users/viirret","html_url":"https://github.com/viirret","followers_url":"https://api.github.com/users/viirret/followers","following_url":"https://api.github.com/users/viirret/following{/other_user}","gists_url":"https://api.github.com/users/viirret/gists{/gist_id}","starred_url":"https://api.github.com/users/viirret/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/viirret/subscriptions","organizations_url":"https://api.github.com/users/viirret/orgs","repos_url":"https://api.github.com/users/viirret/repos","events_url":"https://api.github.com/users/viirret/events{/privacy}","received_events_url":"https://api.github.com/users/viirret/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/commits/11f9cc1c405eb09fe09393dfaab1c73c9ad3089d","html_url":"https://github.com/NeuronActivation/kalja-xyz/commit/11f9cc1c405eb09fe09393dfaab1c73c9ad3089d","sha":"11f9cc1c405eb09fe09393dfaab1c73c9ad3089d"}],"repository":{"id":732765207,"node_id":"R_kgDOK60cFw","name":"kalja-xyz","full_name":"NeuronActivation/kalja-xyz","private":false,"owner":{"login":"NeuronActivation","id":120310933,"node_id":"O_kgDOByvMlQ","avatar_url":"https://avatars.githubusercontent.com/u/120310933?v=4","gravatar_id":"","url":"https://api.github.com/users/NeuronActivation","html_url":"https://github.com/NeuronActivation","followers_url":"https://api.github.com/users/NeuronActivation/followers","following_url":"https://api.github.com/users/NeuronActivation/following{/other_user}","gists_url":"https://api.github.com/users/NeuronActivation/gists{/gist_id}","starred_url":"https://api.github.com/users/NeuronActivation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NeuronActivation/subscriptions","organizations_url":"https://api.github.com/users/NeuronActivation/orgs","repos_url":"https://api.github.com/users/NeuronActivation/repos","events_url":"https://api.github.com/users/NeuronActivation/events{/privacy}","received_events_url":"https://api.github.com/users/NeuronActivation/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/NeuronActivation/kalja-xyz","description":null,"fork":false,"url":"https://api.github.com/repos/NeuronActivation/kalja-xyz","forks_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/forks","keys_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/keys{/key_id}","collaborators_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/teams","hooks_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/hooks","issue_events_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/issues/events{/number}","events_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/events","assignees_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/assignees{/user}","branches_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/branches{/branch}","tags_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/tags","blobs_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/refs{/sha}","trees_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/trees{/sha}","statuses_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/statuses/{sha}","languages_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/languages","stargazers_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/stargazers","contributors_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/contributors","subscribers_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/subscribers","subscription_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/subscription","commits_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/commits{/sha}","git_commits_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/git/commits{/sha}","comments_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/comments{/number}","issue_comment_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/issues/comments{/number}","contents_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/contents/{+path}","compare_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/compare/{base}...{head}","merges_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/merges","archive_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/downloads","issues_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/issues{/number}","pulls_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/pulls{/number}","milestones_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/milestones{/number}","notifications_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/labels{/name}","releases_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/releases{/id}","deployments_url":"https://api.github.com/repos/NeuronActivation/kalja-xyz/deployments"},"score":1.0},{"url":"https://api.github.com/repos/privacybydesign/irmamobile/commits/52361ebd608097ac627d9bfce992e009ba921b54","sha":"52361ebd608097ac627d9bfce992e009ba921b54","node_id":"MDY6Q29tbWl0MjYzMDU4ODg5OjUyMzYxZWJkNjA4MDk3YWM2MjdkOWJmY2U5OTJlMDA5YmE5MjFiNTQ=","html_url":"https://github.com/privacybydesign/irmamobile/commit/52361ebd608097ac627d9bfce992e009ba921b54","comments_url":"https://api.github.com/repos/privacybydesign/irmamobile/commits/52361ebd608097ac627d9bfce992e009ba921b54/comments","[...]
