---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/commits?page=1&per_page=30&q=fix+bug
        method: GET
      response:
        body: '{"total_count":234347204,"incomplete_results":true,"items":[{"url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/commits/450ba03134ed38c1ecca713a48c002380fb99114","sha":"450ba03134ed38c1ecca713a48c002380fb99114","node_id":"MDY6Q29tbWl0ODU0NTAyMTc2OjQ1MGJhMDMxMzRlZDM4YzFlY2NhNzEzYTQ4YzAwMjM4MGZiOTkxMTQ=","html_url":"https://github.com/AlejandroRomanIbanez/AWS_grocery/commit/450ba03134ed38c1ecca713a48c002380fb99114","comments_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/commits/450ba03134ed38c1ecca713a48c002380fb99114/comments","commit":{"url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/commits/450ba03134ed38c1ecca713a48c002380fb99114","author":{"date":"2025-02-23T22:16:41.000+02:00","name":"natalicot","email":"67001164+natalicot@users.noreply.github.com"},"committer":{"date":"2025-02-23T22:16:41.000+02:00","name":"GitHub","email":"noreply@github.com"},"message":"Readme/bug fix (#8)\n\nbug fix","tree":{"url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/trees/7ef4d05fd71c4def7e64f857309ab4dcfe470a4c","sha":"7ef4d05fd71c4def7e64f857309ab4dcfe470a4c"},"comment_count":0},"author":{"login":"natalicot","id":67001164,"node_id":"MDQ6VXNlcjY3MDAxMTY0","avatar_url":"https://avatars.githubusercontent.com/u/67001164?v=4","gravatar_id":"","url":"https://api.github.com/users/natalicot","html_url":"https://github.com/natalicot","followers_url":"https://api.github.com/users/natalicot/followers","following_url":"https://api.github.com/users/natalicot/following{/other_user}","gists_url":"https://api.github.com/users/natalicot/gists{/gist_id}","starred_url":"https://api.github.com/users/natalicot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/natalicot/subscriptions","organizations_url":"https://api.github.com/users/natalicot/orgs","repos_url":"https://api.github.com/users/natalicot/repos","events_url":"https://api.github.com/users/natalicot/events{/privacy}","received_events_url":"https://api.github.com/users/natalicot/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/commits/3650bf9f17612a1a0e2cbb5b35e63924bfb6bb7c","html_url":"https://github.com/AlejandroRomanIbanez/AWS_grocery/commit/3650bf9f17612a1a0e2cbb5b35e63924bfb6bb7c","sha":"3650bf9f17612a1a0e2cbb5b35e63924bfb6bb7c"}],"repository":{"id":854502176,"node_id":"R_kgDOMu6rIA","name":"AWS_grocery","full_name":"AlejandroRomanIbanez/AWS_grocery","private":false,"owner":{"login":"AlejandroRomanIbanez","id":134382564,"node_id":"U_kgDOCAKD5A","avatar_url":"https://avatars.githubusercontent.com/u/134382564?v=4","gravatar_id":"","url":"https://api.github.com/users/AlejandroRomanIbanez","html_url":"https://github.com/AlejandroRomanIbanez","followers_url":"https://api.github.com/users/AlejandroRomanIbanez/followers","following_url":"https://api.github.com/users/AlejandroRomanIbanez/following{/other_user}","gists_url":"https://api.github.com/users/AlejandroRomanIbanez/gists{/gist_id}","starred_url":"https://api.github.com/users/AlejandroRomanIbanez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AlejandroRomanIbanez/subscriptions","organizations_url":"https://api.github.com/users/AlejandroRomanIbanez/orgs","repos_url":"https://api.github.com/users/AlejandroRomanIbanez/repos","events_url":"https://api.github.com/users/AlejandroRomanIbanez/events{/privacy}","received_events_url":"https://api.github.com/users/AlejandroRomanIbanez/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/AlejandroRomanIbanez/AWS_grocery","description":null,"fork":false,"url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery","forks_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/forks","keys_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/keys{/key_id}","collaborators_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/teams","hooks_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/hooks","issue_events_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/issues/events{/number}","events_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/events","assignees_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/assignees{/user}","branches_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/branches{/branch}","tags_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/tags","blobs_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/refs{/sha}","trees_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/trees{/sha}","statuses_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/statuses/{sha}","languages_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/languages","stargazers_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/stargazers","contributors_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/contributors","subscribers_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/subscribers","subscription_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/subscription","commits_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/commits{/sha}","git_commits_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/git/commits{/sha}","comments_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/comments{/number}","issue_comment_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/issues/comments{/number}","contents_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/contents/{+path}","compare_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/compare/{base}...{head}","merges_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/merges","archive_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/downloads","issues_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/issues{/number}","pulls_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/pulls{/number}","milestones_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/milestones{/number}","notifications_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/labels{/name}","releases_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/releases{/id}","deployments_url":"https://api.github.com/repos/AlejandroRomanIbanez/AWS_grocery/deployments"},"score":1.0},{"url":"https://api.github.com/repos/De-Silva-Madhushankha/SpiritX_Web_Wizards_02/commits/ea0c158d0979b960d44b26838ab3f2f39a1f2d4e","sha":"ea0c158d0979b960d44b26838ab3f2f39a1f2d4e","node_id":"MDY6Q29tbWl0OTQ0ODExNzEwOmVhMGMxNThkMDk3OWI5NjBkNDRiMjY4MzhhYjNmMmYzOWExZjJkNGU=","html_url":"https://github.com/De-Silva-Madhushankha/SpiritX_Web_Wizards_02/commit/ea0c158d0979b960d44b26838ab3f2f39a1f2d4e","comments_url":"https://api.github.com/repos/De-Silva-Madhushankha/SpiritX_Web_Wizards_02/commit[...]
