---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/issues?page=1&per_page=30&q=+is%3Aissue
        method: GET
      response:
        body: '{"message":"Validation Failed","errors":[{"message":"None of the search qualifiers apply to this search type.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Deprecation:
                - Tue, 04 Mar 2025 00:00:00 GMT
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Link:
                - <>; rel="deprecation"; type="text/html"
            Sunset:
                - Thu, 04 Sep 2025 00:00:00 GMT
            X-Accepted-Github-Permissions:
                - allows_permissionless_access=true
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=squirrel-girl-preview
            X-Ratelimit-Limit:
                - "30"
            X-Ratelimit-Remaining:
                - "24"
            X-Ratelimit-Reset:
                - "1741776900"
            X-Ratelimit-Resource:
                - search
            X-Ratelimit-Used:
                - "6"
        status: 422 Unprocessable Entity
        code: 422
        duration: 230.939093ms
