---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/repositories?page=1&per_page=30&q=language%3Ago+AND+stars%3A%3E1000
        method: GET
      response:
        body: '{"message":"Validation Failed","errors":[{"message":"The search contains only logical operators (AND / OR / NOT) without any search terms.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - allows_permissionless_access=true
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "30"
            X-Ratelimit-Remaining:
                - "22"
            X-Ratelimit-Reset:
                - "1741775743"
            X-Ratelimit-Resource:
                - search
            X-Ratelimit-Used:
                - "8"
        status: 422 Unprocessable Entity
        code: 422
        duration: 174.188362ms
