---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/code?page=1&per_page=30&q=function+language%3Ago
        method: GET
      response:
        body: "{\"total_count\":212736,\"incomplete_results\":false,\"items\":[{\"name\":\"v8.go\",\"path\":\"v8.go\",\"sha\":\"193ae101b84eb167d63daccbd1e9cc2bcfc8264b\",\"url\":\"https://api.github.com/repositories/1341725/contents/v8.go?ref=26aaef359155a9968f577ab83dac77387572e0d4\",\"git_url\":\"https://api.github.com/repositories/1341725/git/blobs/193ae101b84eb167d63daccbd1e9cc2bcfc8264b\",\"html_url\":\"https://github.com/mattn/go-v8/blob/26aaef359155a9968f577ab83dac77387572e0d4/v8.go\",\"repository\":{\"id\":1341725,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxMzQxNzI1\",\"name\":\"go-v8\",\"full_name\":\"mattn/go-v8\",\"private\":false,\"owner\":{\"login\":\"mattn\",\"id\":10111,\"node_id\":\"MDQ6VXNlcjEwMTEx\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/10111?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mattn\",\"html_url\":\"https://github.com/mattn\",\"followers_url\":\"https://api.github.com/users/mattn/followers\",\"following_url\":\"https://api.github.com/users/mattn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mattn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mattn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mattn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mattn/orgs\",\"repos_url\":\"https://api.github.com/users/mattn/repos\",\"events_url\":\"https://api.github.com/users/mattn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mattn/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/mattn/go-v8\",\"description\":\"Go binding for v8\",\"fork\":false,\"url\":\"https://api.github.com/repos/mattn/go-v8\",\"forks_url\":\"https://api.github.com/repos/mattn/go-v8/forks\",\"keys_url\":\"https://api.github.com/repos/mattn/go-v8/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mattn/go-v8/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mattn/go-v8/teams\",\"hooks_url\":\"https://api.github.com/repos/mattn/go-v8/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mattn/go-v8/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mattn/go-v8/events\",\"assignees_url\":\"https://api.github.com/repos/mattn/go-v8/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mattn/go-v8/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mattn/go-v8/tags\",\"blobs_url\":\"https://api.github.com/repos/mattn/go-v8/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mattn/go-v8/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mattn/go-v8/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mattn/go-v8/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mattn/go-v8/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mattn/go-v8/languages\",\"stargazers_url\":\"https://api.github.com/repos/mattn/go-v8/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mattn/go-v8/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mattn/go-v8/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mattn/go-v8/subscription\",\"commits_url\":\"https://api.github.com/repos/mattn/go-v8/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mattn/go-v8/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mattn/go-v8/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mattn/go-v8/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/mattn/go-v8/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mattn/go-v8/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mattn/go-v8/merges\",\"archive_url\":\"https://api.github.com/repos/mattn/go-v8/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mattn/go-v8/downloads\",\"issues_url\":\"https://api.github.com/repos/mattn/go-v8/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mattn/go-v8/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mattn/go-v8/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mattn/go-v8/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mattn/go-v8/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mattn/go-v8/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/mattn/go-v8/deployments\"},\"score\":1.0},{\"name\":\"fn.go\",\"path\":\"crossplane/composition-function/function-xbuckets/fn.go\",\"sha\":\"2e59c203eba1cfd4546b3edb75e574fa25c101fa\",\"url\":\"https://api.github.com/repositories/576504216/contents/crossplane/composition-function/function-xbuckets/fn.go?ref=847103d0524bce75daecc12809b90b4fff6decef\",\"git_url\":\"https://api.github.com/repositories/576504216/git/blobs/2e59c203eba1cfd4546b3edb75e574fa25c101fa\",\"html_url\":\"https://github.com/cr7258/hands-on-lab/blob/847103d0524bc[...]
