---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/code?page=1&per_page=30&q=function
        method: GET
      response:
        body: "{\"total_count\":11601408,\"incomplete_results\":false,\"items\":[{\"name\":\"NEWS\",\"path\":\"NEWS\",\"sha\":\"145de27c851cc48ec29692dbcd3f7205dfcaa688\",\"url\":\"https://api.github.com/repositories/5974058/contents/NEWS?ref=11b73bbc9a55b7c67c1ab72759a58eb417b88555\",\"git_url\":\"https://api.github.com/repositories/5974058/git/blobs/145de27c851cc48ec29692dbcd3f7205dfcaa688\",\"html_url\":\"https://github.com/CartoDB/torque/blob/11b73bbc9a55b7c67c1ab72759a58eb417b88555/NEWS\",\"repository\":{\"id\":5974058,\"node_id\":\"MDEwOlJlcG9zaXRvcnk1OTc0MDU4\",\"name\":\"torque\",\"full_name\":\"CartoDB/torque\",\"private\":false,\"owner\":{\"login\":\"CartoDB\",\"id\":1799254,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjE3OTkyNTQ=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1799254?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/CartoDB\",\"html_url\":\"https://github.com/CartoDB\",\"followers_url\":\"https://api.github.com/users/CartoDB/followers\",\"following_url\":\"https://api.github.com/users/CartoDB/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/CartoDB/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/CartoDB/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/CartoDB/subscriptions\",\"organizations_url\":\"https://api.github.com/users/CartoDB/orgs\",\"repos_url\":\"https://api.github.com/users/CartoDB/repos\",\"events_url\":\"https://api.github.com/users/CartoDB/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/CartoDB/received_events\",\"type\":\"Organization\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/CartoDB/torque\",\"description\":\"Temporal mapping for CARTO\",\"fork\":false,\"url\":\"https://api.github.com/repos/CartoDB/torque\",\"forks_url\":\"https://api.github.com/repos/CartoDB/torque/forks\",\"keys_url\":\"https://api.github.com/repos/CartoDB/torque/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/CartoDB/torque/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/CartoDB/torque/teams\",\"hooks_url\":\"https://api.github.com/repos/CartoDB/torque/hooks\",\"issue_events_url\":\"https://api.github.com/repos/CartoDB/torque/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/CartoDB/torque/events\",\"assignees_url\":\"https://api.github.com/repos/CartoDB/torque/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/CartoDB/torque/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/CartoDB/torque/tags\",\"blobs_url\":\"https://api.github.com/repos/CartoDB/torque/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/CartoDB/torque/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/CartoDB/torque/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/CartoDB/torque/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/CartoDB/torque/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/CartoDB/torque/languages\",\"stargazers_url\":\"https://api.github.com/repos/CartoDB/torque/stargazers\",\"contributors_url\":\"https://api.github.com/repos/CartoDB/torque/contributors\",\"subscribers_url\":\"https://api.github.com/repos/CartoDB/torque/subscribers\",\"subscription_url\":\"https://api.github.com/repos/CartoDB/torque/subscription\",\"commits_url\":\"https://api.github.com/repos/CartoDB/torque/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/CartoDB/torque/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/CartoDB/torque/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/CartoDB/torque/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/CartoDB/torque/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/CartoDB/torque/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/CartoDB/torque/merges\",\"archive_url\":\"https://api.github.com/repos/CartoDB/torque/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/CartoDB/torque/downloads\",\"issues_url\":\"https://api.github.com/repos/CartoDB/torque/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/CartoDB/torque/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/CartoDB/torque/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/CartoDB/torque/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/CartoDB/torque/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/CartoDB/torque/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/CartoDB/torque/deployments\"},\"score\":1.0},{\"name\":\"7.md\",\"path\":\"7.md\",\"sha\":\"03bd880b2e742547b3517c96b7edfd21cd0c9c4e\",\"url\":\"https://api.github.com/repositories/131380351/contents/7.md?ref=097ef4522075bcdf3e167e38cce1b7fae034579c\",\"git_url\":\"https://api.github.com/repositories/131380351/git/blobs/03bd880b2e742547b3517c96b7edfd21cd0c9c4e\",\"html_url\":\"https://github.com/wizardforcel/eloquent-js-3e-zh/blob/097ef4522075bcdf3e167e38cce1b7fae034579c/7.md\",\"repository\":{\"id\":131380351,\"node_id\":\"MDEwOlJlcG[...]
