---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"body":"This is a test comment on a commit."}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/commits/main/comments
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/comments/153418987","html_url":"https://github.com/geropl/github-mcp-go-test/commit/4707587d1c57e90aeed4c846b1b71221c73de5f3#commitcomment-153418987","id":153418987,"node_id":"CC_kwDOOEmhcs4JJPzr","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"4707587d1c57e90aeed4c846b1b71221c73de5f3","created_at":"2025-03-07T13:02:42Z","updated_at":"2025-03-07T13:02:42Z","author_association":"OWNER","body":"This is a test comment on a commit.","reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/comments/153418987/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"387e2c67afc57e686c4dfd9927e5d96a857b5138aa86b6813d023f34d905c69f"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Location:
                - https://api.github.com/repos/geropl/github-mcp-go-test/comments/153418987
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4930"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "70"
        status: 201 Created
        code: 201
        duration: 431.436821ms
