---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/commits?path=README.md&per_page=30
        method: GET
      response:
        body: '[{"sha":"f68aa0ed39aae8e2dedef581081dc181d637dded","node_id":"C_kwDOOEmhctoAKGY2OGFhMGVkMzlhYWU4ZTJkZWRlZjU4MTA4MWRjMTgxZDYzN2RkZWQ","commit":{"author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T07:43:03Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T07:43:03Z"},"message":"initial commit\n\nTool: gitpod/catfood.gitpod.cloud","tree":{"sha":"e913e2c86ad3cb8950b3a25a2d112ab5609e8928","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/e913e2c86ad3cb8950b3a25a2d112ab5609e8928"},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/f68aa0ed39aae8e2dedef581081dc181d637dded","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/f68aa0ed39aae8e2dedef581081dc181d637dded","html_url":"https://github.com/geropl/github-mcp-go-test/commit/f68aa0ed39aae8e2dedef581081dc181d637dded","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/f68aa0ed39aae8e2dedef581081dc181d637dded/comments","author":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[]}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"d1f4c6596524317c390bb62ca7939b00c7c74d1fa9d8f2bd4e7fdc7431431882"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 07:43:03 GMT
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4947"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "53"
        status: 200 OK
        code: 200
        duration: 229.934167ms
