# https://console.anthropic.com/settings/keys
ANTHROPIC_API_KEY=sk-ant-...
# https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-proj-...
# https://aistudio.google.com/apikey
GOOGLE_API_KEY=AI...
# https://console.x.ai
XAI_API_KEY=xai-...
# https://cloud.cerebras.ai
CEREBRAS_API_KEY=csk-...
# https://console.groq.com/keys
GROQ_API_KEY=gsk_...

# BRAVE_API_KEY=BSA...
# GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_...
# NOTION_INTEGRATION_SECRET=ntn_...
# AIRTABLE_API_KEY=pat...
