__pycache__/
agents/article_draft/__pycache__/
agents/researcher/__pycache__/
agents/task_manager/__pycache__/
mcp_servers/cloud_storage/__pycache__/
mcp_servers/creative_llm/__pycache__/
mcp_servers/web_search/__pycache__/
protocols/__pycache__/
tools/__pycache__/
.venv