fastapi>=0.68.0
uvicorn>=0.15.0
aiofiles
aiomultiprocess
tenacity
slowapi
python-dotenv
langchain[core]
langchain-community
pydantic>=1.8.0
hf_xet
langchain-google-genai
html2text
aiohttp
beautifulsoup4
PyPDF2
python-multipart>=0.0.5
python-docx
python-pptx
pytesseract
sse-starlette
scikit-learn
setuptools>=70.0.0
networkx>=2.6.3
numpy>=1.21.2
langchain-openai 
langchain-anthropic
rich
GitPython
faiss-cpu

