---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/commits?page=1&per_page=30&q=fix+bug+author%3Ageropl
        method: GET
      response:
        body: '{"total_count":21,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/gitpod-io/gitpod/commits/3fdfd128f98b66b08618dd0fc1cdb4e0baeec676","sha":"3fdfd128f98b66b08618dd0fc1cdb4e0baeec676","node_id":"MDY6Q29tbWl0MTMwODc5NTU4OjNmZGZkMTI4Zjk4YjY2YjA4NjE4ZGQwZmMxY2RiNGUwYmFlZWM2NzY=","html_url":"https://github.com/gitpod-io/gitpod/commit/3fdfd128f98b66b08618dd0fc1cdb4e0baeec676","comments_url":"https://api.github.com/repos/gitpod-io/gitpod/commits/3fdfd128f98b66b08618dd0fc1cdb4e0baeec676/comments","commit":{"url":"https://api.github.com/repos/gitpod-io/gitpod/git/commits/3fdfd128f98b66b08618dd0fc1cdb4e0baeec676","author":{"date":"2024-09-09T14:16:55.000+02:00","name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io"},"committer":{"date":"2024-09-09T08:16:55.000-04:00","name":"GitHub","email":"noreply@github.com"},"message":"[dashboard] Potential fix for \"lost workspace updates\" in StartWorkspace.tsx introduced in #20095 (#20189)\n\nIt''s unclear as to if that''s a real bug, fixing it here is good anyway.","tree":{"url":"https://api.github.com/repos/gitpod-io/gitpod/git/trees/3c9b9550df3e1fe3bfad03745cd1fc63d26ff9c0","sha":"3c9b9550df3e1fe3bfad03745cd1fc63d26ff9c0"},"comment_count":0},"author":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"url":"https://api.github.com/repos/gitpod-io/gitpod/commits/5f7eb1c5f2e87abe3b2dc4eb56d3f9c4f166d0a9","html_url":"https://github.com/gitpod-io/gitpod/commit/5f7eb1c5f2e87abe3b2dc4eb56d3f9c4f166d0a9","sha":"5f7eb1c5f2e87abe3b2dc4eb56d3f9c4f166d0a9"}],"repository":{"id":130879558,"node_id":"MDEwOlJlcG9zaXRvcnkxMzA4Nzk1NTg=","name":"gitpod","full_name":"gitpod-io/gitpod","private":false,"owner":{"login":"gitpod-io","id":37021919,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM3MDIxOTE5","avatar_url":"https://avatars.githubusercontent.com/u/37021919?v=4","gravatar_id":"","url":"https://api.github.com/users/gitpod-io","html_url":"https://github.com/gitpod-io","followers_url":"https://api.github.com/users/gitpod-io/followers","following_url":"https://api.github.com/users/gitpod-io/following{/other_user}","gists_url":"https://api.github.com/users/gitpod-io/gists{/gist_id}","starred_url":"https://api.github.com/users/gitpod-io/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitpod-io/subscriptions","organizations_url":"https://api.github.com/users/gitpod-io/orgs","repos_url":"https://api.github.com/users/gitpod-io/repos","events_url":"https://api.github.com/users/gitpod-io/events{/privacy}","received_events_url":"https://api.github.com/users/gitpod-io/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/gitpod-io/gitpod","description":"The developer platform for on-demand cloud development environments to create software faster and more securely.","fork":false,"url":"https://api.github.com/repos/gitpod-io/gitpod","forks_url":"https://api.github.com/repos/gitpod-io/gitpod/forks","keys_url":"https://api.github.com/repos/gitpod-io/gitpod/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gitpod-io/gitpod/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gitpod-io/gitpod/teams","hooks_url":"https://api.github.com/repos/gitpod-io/gitpod/hooks","issue_events_url":"https://api.github.com/repos/gitpod-io/gitpod/issues/events{/number}","events_url":"https://api.github.com/repos/gitpod-io/gitpod/events","assignees_url":"https://api.github.com/repos/gitpod-io/gitpod/assignees{/user}","branches_url":"https://api.github.com/repos/gitpod-io/gitpod/branches{/branch}","tags_url":"https://api.github.com/repos/gitpod-io/gitpod/tags","blobs_url":"https://api.github.com/repos/gitpod-io/gitpod/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gitpod-io/gitpod/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gitpod-io/gitpod/git/refs{/sha}","trees_url":"https://api.github.com/repos/gitpod-io/gitpod/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gitpod-io/gitpod/statuses/{sha}","languages_url":"https://api.github.com/repos/gitpod-io/gitpod/languages","stargazers_url":"https://api.github.com/repos/gitpod-io/gitpod/stargazers","contributors_url":"https://api.github.com/repos/gitpod-io/gitpod/contributors","subscribers_url":"https://api.github.com/repos/gitpod-io/gitpod/subscribers","subscription_url":"https://api.github.com/repos/gitpod-io/gitpod/subscription","commits_url":"https://api.github.com/repos/gitpod-io/gitpod/commits{/sha}","git_commits_url":"https://api.github.com/repos/gitpod-io/gitpod/git/commits{/sha}","comments_url":"https://api.github.com/repos/gitpod-io/gitpod/comments{/number}","issue_comment_url":"https://api.github.com/repos/gitpod-io/gitpod/issues/comments{/number}","contents_url":"https://api.github.com/repos/gitpod-io/gitpod/contents/{+path}","compare_url":"https://api.github.com/repos/gitpod-io/gitpod/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gitpod-io/gitpod/merges","archive_url":"https://api.github.com/repos/gitpod-io/gitpod/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gitpod-io/gitpod/downloads","issues_url":"https://api.github.com/repos/gitpod-io/gitpod/issues{/number}","pulls_url":"https://api.github.com/repos/gitpod-io/gitpod/pulls{/number}","milestones_url":"https://api.github.com/repos/gitpod-io/gitpod/milestones{/number}","notifications_url":"https://api.github.com/repos/gitpod-io/gitpod/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gitpod-io/gitpod/labels{/name}","releases_url":"https://api.github.com/repos/gitpod-io/gitpod/releases{/id}","deployments_url":"https://api.github.com/repos/gitpod-io/gitpod/deployments"},"score":1.0},{"url":"https://api.github.com/repos/sourcegraph-testing/gitpod/commits/4cc20308a028372aa7c8459d914ab3a9f0f7fe8c","sha":"4cc20308a028372aa7c8459d914ab3a9f0f7fe8c","node_id":"MDY6Q29tbWl0NTMxODc4ODI5OjRjYzIwMzA4YTAyODM3MmFhN2M4NDU5ZDkxNGFiM2E5ZjBmN2ZlOGM=","html_url":"https://github.com/sourcegraph-testing/gitpod/commit/4cc20308a028372aa7c8459d914ab3a9f0f7fe8c","comments_url":"https://api.github.com/repos/sourcegraph-testing/gitpod/commits/4cc20308a028372aa7c8459d914ab3a9f0f7fe8c/comments","[...]
