---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/code?page=1&per_page=30&q=language%3Ago+AND+function
        method: GET
      response:
        body: "{\"total_count\":370688,\"incomplete_results\":false,\"items\":[{\"name\":\"fn.go\",\"path\":\"crossplane/composition-function/function-xbuckets/fn.go\",\"sha\":\"2e59c203eba1cfd4546b3edb75e574fa25c101fa\",\"url\":\"https://api.github.com/repositories/576504216/contents/crossplane/composition-function/function-xbuckets/fn.go?ref=847103d0524bce75daecc12809b90b4fff6decef\",\"git_url\":\"https://api.github.com/repositories/576504216/git/blobs/2e59c203eba1cfd4546b3edb75e574fa25c101fa\",\"html_url\":\"https://github.com/cr7258/hands-on-lab/blob/847103d0524bce75daecc12809b90b4fff6decef/crossplane/composition-function/function-xbuckets/fn.go\",\"repository\":{\"id\":576504216,\"node_id\":\"R_kgDOIlzBmA\",\"name\":\"hands-on-lab\",\"full_name\":\"cr7258/hands-on-lab\",\"private\":false,\"owner\":{\"login\":\"cr7258\",\"id\":40051120,\"node_id\":\"MDQ6VXNlcjQwMDUxMTIw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/40051120?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/cr7258\",\"html_url\":\"https://github.com/cr7258\",\"followers_url\":\"https://api.github.com/users/cr7258/followers\",\"following_url\":\"https://api.github.com/users/cr7258/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/cr7258/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/cr7258/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/cr7258/subscriptions\",\"organizations_url\":\"https://api.github.com/users/cr7258/orgs\",\"repos_url\":\"https://api.github.com/users/cr7258/repos\",\"events_url\":\"https://api.github.com/users/cr7258/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/cr7258/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/cr7258/hands-on-lab\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/cr7258/hands-on-lab\",\"forks_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/forks\",\"keys_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/teams\",\"hooks_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/hooks\",\"issue_events_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/events\",\"assignees_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/tags\",\"blobs_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/languages\",\"stargazers_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/stargazers\",\"contributors_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/contributors\",\"subscribers_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/subscribers\",\"subscription_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/subscription\",\"commits_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/merges\",\"archive_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/downloads\",\"issues_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/cr7258/hands-on-lab/deployments\"},\"score\":1.0},{\"name\":\"sm.go\",\"path\":\"sm.go\",\"sha\":\"a51062a09baf364402f9c0921ce4b8bacb4d0a77\",\"url\":\"https://api.github.com/repositories/168214329/contents/sm.go?ref=1ea3a074471892546651296435bf6fc2bd91daf7\",\"git_url\":\"https://api.github.com/repositories/168214329/git/blobs/a51062a09baf364402f9c0921ce4b8bacb4d0a77\",\"html_url\":\"https://github.com/Konstantin8105/sm/blob/1ea3a074471892546651296435bf6fc2bd91daf7/sm.go\",\"repository\":{\"id\":168214329,\"node_id\":\"MDEwOlJlcG9zaXRvcnk[...]
