---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/issues?page=1&per_page=30&q=bug+label%3Abug+is%3Aissue
        method: GET
      response:
        body: "{\"total_count\":3574192,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/Lufu251/LufuDrill/issues/5\",\"repository_url\":\"https://api.github.com/repos/Lufu251/LufuDrill\",\"labels_url\":\"https://api.github.com/repos/Lufu251/LufuDrill/issues/5/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/Lufu251/LufuDrill/issues/5/comments\",\"events_url\":\"https://api.github.com/repos/Lufu251/LufuDrill/issues/5/events\",\"html_url\":\"https://github.com/Lufu251/LufuDrill/issues/5\",\"id\":2910724047,\"node_id\":\"I_kwDON-TQn86tfh_P\",\"number\":5,\"title\":\"Bug test bug\",\"user\":{\"login\":\"Lufu251\",\"id\":26850261,\"node_id\":\"MDQ6VXNlcjI2ODUwMjYx\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/26850261?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Lufu251\",\"html_url\":\"https://github.com/Lufu251\",\"followers_url\":\"https://api.github.com/users/Lufu251/followers\",\"following_url\":\"https://api.github.com/users/Lufu251/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Lufu251/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Lufu251/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Lufu251/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Lufu251/orgs\",\"repos_url\":\"https://api.github.com/users/Lufu251/repos\",\"events_url\":\"https://api.github.com/users/Lufu251/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Lufu251/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[{\"id\":8195357766,\"node_id\":\"LA_kwDON-TQn88AAAAB6Hs8Rg\",\"url\":\"https://api.github.com/repos/Lufu251/LufuDrill/labels/bug\",\"name\":\"bug\",\"color\":\"d73a4a\",\"default\":true,\"description\":\"Something isn't working\"}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"Lufu251\",\"id\":26850261,\"node_id\":\"MDQ6VXNlcjI2ODUwMjYx\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/26850261?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Lufu251\",\"html_url\":\"https://github.com/Lufu251\",\"followers_url\":\"https://api.github.com/users/Lufu251/followers\",\"following_url\":\"https://api.github.com/users/Lufu251/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Lufu251/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Lufu251/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Lufu251/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Lufu251/orgs\",\"repos_url\":\"https://api.github.com/users/Lufu251/repos\",\"events_url\":\"https://api.github.com/users/Lufu251/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Lufu251/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"assignees\":[{\"login\":\"Lufu251\",\"id\":26850261,\"node_id\":\"MDQ6VXNlcjI2ODUwMjYx\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/26850261?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Lufu251\",\"html_url\":\"https://github.com/Lufu251\",\"followers_url\":\"https://api.github.com/users/Lufu251/followers\",\"following_url\":\"https://api.github.com/users/Lufu251/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Lufu251/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Lufu251/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Lufu251/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Lufu251/orgs\",\"repos_url\":\"https://api.github.com/users/Lufu251/repos\",\"events_url\":\"https://api.github.com/users/Lufu251/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Lufu251/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false}],\"milestone\":null,\"comments\":0,\"created_at\":\"2025-03-11T14:15:15Z\",\"updated_at\":\"2025-03-11T14:15:15Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"active_lock_reason\":null,\"body\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/Lufu251/LufuDrill/issues/5/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/Lufu251/LufuDrill/issues/5/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"score\":1.0},{\"url\":\"https://api.github.com/repos/Bimmr/MHW-Buffer/issues/29\",\"repository_url\":\"https://api.github.com/repos/Bimmr/MHW-Buffer\",\"labels_url\":\"https://api.github.com/repos/Bimmr/MHW-Buffer/issues/29/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/Bimmr/MHW-Buffer/issues/29/comments\",\"events_url\":\"https://api.github.com/repos/Bimmr/MHW-Buffer/issues/29/events\",\"html_url\":\"https://github.com/Bimmr/MHW-Buffer/issues/29\",\"id\":2905414309,\"node_id\":\"I_kwD[...]
