---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/issues?page=1&per_page=30&q=feature+is%3Apull-request
        method: GET
      response:
        body: "{\"total_count\":23348744,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/issues/1\",\"repository_url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop\",\"labels_url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/issues/1/events\",\"html_url\":\"https://github.com/iemafzalhassan/EasyShop/pull/1\",\"id\":2912818784,\"node_id\":\"PR_kwDONz4rmM6OSNVL\",\"number\":1,\"title\":\"Feature/amazing feature\",\"user\":{\"login\":\"AWS-DevOps-shubh\",\"id\":177475978,\"node_id\":\"U_kgDOCpQRig\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/177475978?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/AWS-DevOps-shubh\",\"html_url\":\"https://github.com/AWS-DevOps-shubh\",\"followers_url\":\"https://api.github.com/users/AWS-DevOps-shubh/followers\",\"following_url\":\"https://api.github.com/users/AWS-DevOps-shubh/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/AWS-DevOps-shubh/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/AWS-DevOps-shubh/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/AWS-DevOps-shubh/subscriptions\",\"organizations_url\":\"https://api.github.com/users/AWS-DevOps-shubh/orgs\",\"repos_url\":\"https://api.github.com/users/AWS-DevOps-shubh/repos\",\"events_url\":\"https://api.github.com/users/AWS-DevOps-shubh/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/AWS-DevOps-shubh/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2025-03-12T06:13:39Z\",\"updated_at\":\"2025-03-12T06:19:44Z\",\"closed_at\":null,\"author_association\":\"NONE\",\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/pulls/1\",\"html_url\":\"https://github.com/iemafzalhassan/EasyShop/pull/1\",\"diff_url\":\"https://github.com/iemafzalhassan/EasyShop/pull/1.diff\",\"patch_url\":\"https://github.com/iemafzalhassan/EasyShop/pull/1.patch\",\"merged_at\":null},\"body\":\"Over all, change in package.json file and write readme file with Prerequisites installation and one dependency command because of change in package.json file \",\"reactions\":{\"url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/issues/1/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/iemafzalhassan/EasyShop/issues/1/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"score\":1.0},{\"url\":\"https://api.github.com/repos/JabulaniUsen/Virtual-Ticket/issues/47\",\"repository_url\":\"https://api.github.com/repos/JabulaniUsen/Virtual-Ticket\",\"labels_url\":\"https://api.github.com/repos/JabulaniUsen/Virtual-Ticket/issues/47/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/JabulaniUsen/Virtual-Ticket/issues/47/comments\",\"events_url\":\"https://api.github.com/repos/JabulaniUsen/Virtual-Ticket/issues/47/events\",\"html_url\":\"https://github.com/JabulaniUse[...]
