---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/commits?page=1&per_page=5&q=fix+bug
        method: GET
      response:
        body: '{"total_count":167269648,"incomplete_results":true,"items":[{"url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/commits/41ee797f57faeab4590417768fdea096b4f0f098","sha":"41ee797f57faeab4590417768fdea096b4f0f098","node_id":"MDY6Q29tbWl0Mzc5NzA1Njk3OjQxZWU3OTdmNTdmYWVhYjQ1OTA0MTc3NjhmZGVhMDk2YjRmMGYwOTg=","html_url":"https://github.com/archethic-foundation/archethic-wallet/commit/41ee797f57faeab4590417768fdea096b4f0f098","comments_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/commits/41ee797f57faeab4590417768fdea096b4f0f098/comments","commit":{"url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/commits/41ee797f57faeab4590417768fdea096b4f0f098","author":{"date":"2025-02-20T22:03:30.000+01:00","name":"redDwarf03","email":"sylvain@archethic.net"},"committer":{"date":"2025-02-20T22:49:01.000+01:00","name":"redDwarf03","email":"68340133+redDwarf03@users.noreply.github.com"},"message":"fix: :bug: Fix Bugs","tree":{"url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/trees/bd702c7f4b8f853854750bbe03211ce6d845d16c","sha":"bd702c7f4b8f853854750bbe03211ce6d845d16c"},"comment_count":0},"author":{"login":"redDwarf03","id":68340133,"node_id":"MDQ6VXNlcjY4MzQwMTMz","avatar_url":"https://avatars.githubusercontent.com/u/68340133?v=4","gravatar_id":"","url":"https://api.github.com/users/redDwarf03","html_url":"https://github.com/redDwarf03","followers_url":"https://api.github.com/users/redDwarf03/followers","following_url":"https://api.github.com/users/redDwarf03/following{/other_user}","gists_url":"https://api.github.com/users/redDwarf03/gists{/gist_id}","starred_url":"https://api.github.com/users/redDwarf03/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/redDwarf03/subscriptions","organizations_url":"https://api.github.com/users/redDwarf03/orgs","repos_url":"https://api.github.com/users/redDwarf03/repos","events_url":"https://api.github.com/users/redDwarf03/events{/privacy}","received_events_url":"https://api.github.com/users/redDwarf03/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"redDwarf03","id":68340133,"node_id":"MDQ6VXNlcjY4MzQwMTMz","avatar_url":"https://avatars.githubusercontent.com/u/68340133?v=4","gravatar_id":"","url":"https://api.github.com/users/redDwarf03","html_url":"https://github.com/redDwarf03","followers_url":"https://api.github.com/users/redDwarf03/followers","following_url":"https://api.github.com/users/redDwarf03/following{/other_user}","gists_url":"https://api.github.com/users/redDwarf03/gists{/gist_id}","starred_url":"https://api.github.com/users/redDwarf03/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/redDwarf03/subscriptions","organizations_url":"https://api.github.com/users/redDwarf03/orgs","repos_url":"https://api.github.com/users/redDwarf03/repos","events_url":"https://api.github.com/users/redDwarf03/events{/privacy}","received_events_url":"https://api.github.com/users/redDwarf03/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/commits/227a700b7986e2095800d9885ce6167c46e550f7","html_url":"https://github.com/archethic-foundation/archethic-wallet/commit/227a700b7986e2095800d9885ce6167c46e550f7","sha":"227a700b7986e2095800d9885ce6167c46e550f7"}],"repository":{"id":379705697,"node_id":"MDEwOlJlcG9zaXRvcnkzNzk3MDU2OTc=","name":"archethic-wallet","full_name":"archethic-foundation/archethic-wallet","private":false,"owner":{"login":"archethic-foundation","id":82846905,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyODQ2OTA1","avatar_url":"https://avatars.githubusercontent.com/u/82846905?v=4","gravatar_id":"","url":"https://api.github.com/users/archethic-foundation","html_url":"https://github.com/archethic-foundation","followers_url":"https://api.github.com/users/archethic-foundation/followers","following_url":"https://api.github.com/users/archethic-foundation/following{/other_user}","gists_url":"https://api.github.com/users/archethic-foundation/gists{/gist_id}","starred_url":"https://api.github.com/users/archethic-foundation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/archethic-foundation/subscriptions","organizations_url":"https://api.github.com/users/archethic-foundation/orgs","repos_url":"https://api.github.com/users/archethic-foundation/repos","events_url":"https://api.github.com/users/archethic-foundation/events{/privacy}","received_events_url":"https://api.github.com/users/archethic-foundation/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/archethic-foundation/archethic-wallet","description":"Archethic Wallet","fork":false,"url":"https://api.github.com/repos/archethic-foundation/archethic-wallet","forks_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/forks","keys_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/keys{/key_id}","collaborators_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/teams","hooks_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/hooks","issue_events_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/issues/events{/number}","events_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/events","assignees_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/assignees{/user}","branches_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/branches{/branch}","tags_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/tags","blobs_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/refs{/sha}","trees_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/trees{/sha}","statuses_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/statuses/{sha}","languages_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/languages","stargazers_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/stargazers","contributors_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/contributors","subscribers_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/subscribers","subscription_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/subscription","commits_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/commits{/sha}","git_commits_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/git/commits{/sha}","comments_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/comments{/number}","issue_comment_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/issues/comments{/number}","contents_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/contents/{+path}","compare_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/compare/{base}...{head}","merges_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/merges","archive_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/downloads","issues_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/issues{/number}","pulls_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/pulls{/number}","milestones_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/milestones{/number}","notifications_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/labels{/name}","releases_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/releases{/id}","deployments_url":"https://api.github.com/repos/archethic-foundation/archethic-wallet/deployments"},"score":1.0},{"url":"https://api.github.com/repos/aws-samples/easy-model-deployer/commits/71b7eee554b94949254c59f1fdfa9fca0745ee5f","sha":"71b7eee554b94949254c59f1fdfa9fca0745ee5f","node_id":"MDY6Q29tbWl0OTIyMTI1NTA4OjcxYjdlZWU1NTRiOTQ5NDkyNTRjNTlmMWZkZmE5ZmNhMDc0NWVlNWY=","html_url":"https://github.com/aws-samples/easy-model-deployer/commit/71b7eee554b94949254c59f1fdfa9fca0745ee5f","comments_url":"https://api.github.com/repos/aws-samples/easy-model-deployer/commits/71b7eee554b94949254c59f1fdfa9fca0745e[...]
