---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/repositories?page=1&per_page=5&q=language%3Ago
        method: GET
      response:
        body: '{"total_count":1824265,"incomplete_results":false,"items":[{"id":21540759,"node_id":"MDEwOlJlcG9zaXRvcnkyMTU0MDc1OQ==","name":"awesome-go","full_name":"avelino/awesome-go","private":false,"owner":{"login":"avelino","id":31996,"node_id":"MDQ6VXNlcjMxOTk2","avatar_url":"https://avatars.githubusercontent.com/u/31996?v=4","gravatar_id":"","url":"https://api.github.com/users/avelino","html_url":"https://github.com/avelino","followers_url":"https://api.github.com/users/avelino/followers","following_url":"https://api.github.com/users/avelino/following{/other_user}","gists_url":"https://api.github.com/users/avelino/gists{/gist_id}","starred_url":"https://api.github.com/users/avelino/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/avelino/subscriptions","organizations_url":"https://api.github.com/users/avelino/orgs","repos_url":"https://api.github.com/users/avelino/repos","events_url":"https://api.github.com/users/avelino/events{/privacy}","received_events_url":"https://api.github.com/users/avelino/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/avelino/awesome-go","description":"A curated list of awesome Go frameworks, libraries and software","fork":false,"url":"https://api.github.com/repos/avelino/awesome-go","forks_url":"https://api.github.com/repos/avelino/awesome-go/forks","keys_url":"https://api.github.com/repos/avelino/awesome-go/keys{/key_id}","collaborators_url":"https://api.github.com/repos/avelino/awesome-go/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/avelino/awesome-go/teams","hooks_url":"https://api.github.com/repos/avelino/awesome-go/hooks","issue_events_url":"https://api.github.com/repos/avelino/awesome-go/issues/events{/number}","events_url":"https://api.github.com/repos/avelino/awesome-go/events","assignees_url":"https://api.github.com/repos/avelino/awesome-go/assignees{/user}","branches_url":"https://api.github.com/repos/avelino/awesome-go/branches{/branch}","tags_url":"https://api.github.com/repos/avelino/awesome-go/tags","blobs_url":"https://api.github.com/repos/avelino/awesome-go/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/avelino/awesome-go/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/avelino/awesome-go/git/refs{/sha}","trees_url":"https://api.github.com/repos/avelino/awesome-go/git/trees{/sha}","statuses_url":"https://api.github.com/repos/avelino/awesome-go/statuses/{sha}","languages_url":"https://api.github.com/repos/avelino/awesome-go/languages","stargazers_url":"https://api.github.com/repos/avelino/awesome-go/stargazers","contributors_url":"https://api.github.com/repos/avelino/awesome-go/contributors","subscribers_url":"https://api.github.com/repos/avelino/awesome-go/subscribers","subscription_url":"https://api.github.com/repos/avelino/awesome-go/subscription","commits_url":"https://api.github.com/repos/avelino/awesome-go/commits{/sha}","git_commits_url":"https://api.github.com/repos/avelino/awesome-go/git/commits{/sha}","comments_url":"https://api.github.com/repos/avelino/awesome-go/comments{/number}","issue_comment_url":"https://api.github.com/repos/avelino/awesome-go/issues/comments{/number}","contents_url":"https://api.github.com/repos/avelino/awesome-go/contents/{+path}","compare_url":"https://api.github.com/repos/avelino/awesome-go/compare/{base}...{head}","merges_url":"https://api.github.com/repos/avelino/awesome-go/merges","archive_url":"https://api.github.com/repos/avelino/awesome-go/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/avelino/awesome-go/downloads","issues_url":"https://api.github.com/repos/avelino/awesome-go/issues{/number}","pulls_url":"https://api.github.com/repos/avelino/awesome-go/pulls{/number}","milestones_url":"https://api.github.com/repos/avelino/awesome-go/milestones{/number}","notifications_url":"https://api.github.com/repos/avelino/awesome-go/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/avelino/awesome-go/labels{/name}","releases_url":"https://api.github.com/repos/avelino/awesome-go/releases{/id}","deployments_url":"https://api.github.com/repos/avelino/awesome-go/deployments","created_at":"2014-07-06T13:42:15Z","updated_at":"2025-03-07T09:31:35Z","pushed_at":"2025-03-04T15:45:20Z","git_url":"git://github.com/avelino/awesome-go.git","ssh_url":"git@github.com:avelino/awesome-go.git","clone_url":"https://github.com/avelino/awesome-go.git","svn_url":"https://github.com/avelino/awesome-go","homepage":"https://awesome-go.com","size":10619,"stargazers_count":139330,"watchers_count":139330,"language":"Go","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"has_discussions":true,"forks_count":12141,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":114,"license":{"key":"mit","name":"MIT License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["awesome","awesome-list","go","golang","golang-library","hacktoberfest"],"visibility":"public","forks":12141,"open_issues":114,"watchers":139330,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"score":1.0},{"id":658928958,"node_id":"R_kgDOJ0Z1Pg","name":"ollama","full_name":"ollama/ollama","private":false,"owner":{"login":"ollama","id":151674099,"node_id":"O_kgDOCQpc8w","avatar_url":"https://avatars.githubusercontent.com/u/151674099?v=4","gravatar_id":"","url":"https://api.github.com/users/ollama","html_url":"https://github.com/ollama","followers_url":"https://api.github.com/users/ollama/followers","following_url":"https://api.github.com/users/ollama/following{/other_user}","gists_url":"https[...]
