---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/search/repositories?page=1&per_page=30&q=
        method: GET
      response:
        body: '{"message":"Validation Failed","errors":[{"resource":"Search","field":"q","code":"missing"}],"documentation_url":"https://docs.github.com/v3/search","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "30"
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1741343042"
            X-Ratelimit-Resource:
                - search
            X-Ratelimit-Used:
                - "4"
        status: 422 Unprocessable Entity
        code: 422
        duration: 149.207481ms
