# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# Git
.git

# Cloned Repo
cloned_mcp_agents_hub/
tmp/

# VS Code
reports/

*.egg-info/
test-output/
