# Source
src/

# Tests
**/*.test.ts
**/*.spec.ts
jest.config.js

# Development configs
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
.github/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment
.env
.env.*

# Misc
.DS_Store
coverage/
tmp/
*.tgz
