[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcp = {extras = ["cli"], version = "*"}
httpx = "*"
langchain = "*"
langchain-openai = "*"
langgraph = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
