[flake8]
max-line-length = 350
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    .env,
    .venv,
    venv,
    env,
    tmp
ignore = 
    # E303: Too many blank lines
    E303,
    # W293: Blank line contains whitespace
    W293,
    # E302: Expected 2 blank lines, found 1
    E302,
    # E305: Expected 2 blank lines after class or function definition, found 1
    E305,
    # E111: Indentation is not a multiple of 4
    E111,
    # E117: Over-indented
    E117,
    # E114: Indentation is not a multiple of 4 (comment)
    E114,
    # F401: Module imported but unused
    F541,
    # W292: No newline at end of file
    W292,
    # W504: Line break occurred after a binary operator
    W504,
    # E128: Continuation line under-indented for visual indent
    E231,
    # F821: Undefined name
    F821,
    # E402: Module level import not at top of file (special case for tests)
    E402