**Tool Description**:

{{ tool_description }}

**Underlying Command Called**:

*For context and to aid in tool selection, the underlying command called is shown below.*

```
{{ command_template }}
```
{% if has_parameters %}

*Text like <<parameter_name>> will be replaced with parameter values.*
{% endif %}
{% if parameters %}

**Parameters**:
{% for param in parameters %}
- `{{ param.name }}` [{{ 'REQUIRED' if param.required else 'OPTIONAL' }}] ({{ param.type }}){% if param.description %}: {{ param.description }}{% endif -%}
{{ '' }}
{% endfor %}
{% endif %}
