---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/compare/main...main
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/compare/main...main","html_url":"https://github.com/geropl/github-mcp-go-test/compare/main...main","permalink_url":"https://github.com/geropl/github-mcp-go-test/compare/geropl:4707587...geropl:4707587","diff_url":"https://github.com/geropl/github-mcp-go-test/compare/main...main.diff","patch_url":"https://github.com/geropl/github-mcp-go-test/compare/main...main.patch","base_commit":{"sha":"4707587d1c57e90aeed4c846b1b71221c73de5f3","node_id":"C_kwDOOEmhctoAKDQ3MDc1ODdkMWM1N2U5MGFlZWQ0Yzg0NmIxYjcxMjIxYzczZGU1ZjM","commit":{"author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:52:03Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:52:03Z"},"message":"Delete test file","tree":{"sha":"e913e2c86ad3cb8950b3a25a2d112ab5609e8928","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/e913e2c86ad3cb8950b3a25a2d112ab5609e8928"},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/4707587d1c57e90aeed4c846b1b71221c73de5f3","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/4707587d1c57e90aeed4c846b1b71221c73de5f3","html_url":"https://github.com/geropl/github-mcp-go-test/commit/4707587d1c57e90aeed4c846b1b71221c73de5f3","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/4707587d1c57e90aeed4c846b1b71221c73de5f3/comments","author":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"1090dd042cc6f088fa2a4794f7949d00d2a22280","url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/1090dd042cc6f088fa2a4794f7949d00d2a22280","html_url":"https://github.com/geropl/github-mcp-go-test/commit/1090dd042cc6f088fa2a4794f7949d00d2a22280"}]},"merge_base_commit":{"sha":"4707587d1c57e90aeed4c846b1b71221c73de5f3","node_id":"C_kwDOOEmhctoAKDQ3MDc1ODdkMWM1N2U5MGFlZWQ0Yzg0NmIxYjcxMjIxYzczZGU1ZjM","commit":{"author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:52:03Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:52:03Z"},"message":"Delete test file","tree":{"sha":"e913e2c86ad3cb8950b3a25a2d112ab5609e8928","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/e91[...]
