---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"message":"Test commit","tree":"invalid-tree-sha","parents":["parent-sha"]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/commits
        method: POST
      response:
        body: '{"message":"The tree parameter must be exactly 40 characters and contain only [0-9a-f].","documentation_url":"https://docs.github.com/rest/git/commits#create-a-commit","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - contents=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4923"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "77"
        status: 422 Unprocessable Entity
        code: 422
        duration: 194.911173ms
