---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"body":"This is a test comment."}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/commits/non-existent-sha/comments
        method: POST
      response:
        body: '{"message":"No commit found for SHA: non-existent-sha","documentation_url":"https://docs.github.com/rest/commits/comments#create-a-commit-comment","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4926"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "74"
        status: 422 Unprocessable Entity
        code: 422
        duration: 234.332002ms
