<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <!--No logging to the stdout while the server is running on stdio mode-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/example.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>