\documentclass{article}
\usepackage[utf8]{inputenc}

	itle{{ {{ title }} }}
\author{{ {{ author|default("Fast MCP") }} }}
\date{{ {{ date|default("\\today") }} }}

\begin{document}

\maketitle

{{ body }}

\end{document}
