\documentclass{article}
\begin{document}
\thispagestyle{empty}
\begin{center}
{\Huge Certificate of Completion}\\[1cm]
This certifies that\\[0.5cm]
{\LARGE {{ name }}}\\[1cm]
has completed the {{ course }} course.
\end{center}
\end{document}
