\documentclass{article}
\begin{document}
\begin{center}
{\LARGE Invoice}
\end{center}

\vspace{1cm}

\textbf{To:} {{ recipient }}\\
\textbf{Date:} {{ date }}\\
\textbf{Amount:} {{ amount }}\\

\vspace{1cm}

\noindent Thank you for your business.

\end{document}
