\documentclass{article}
\begin{document}
\section*{Curriculum Vitae}
Name: {{ name }}\\
Contact: {{ contact }}\\
\section*{Education}
{{ education }}
\section*{Skills}
{{ skills }}
\end{document}
