\documentclass{letter}
\begin{document}
\begin{letter}{ {{ recipient }} }
\opening{Dear {{ hiring_manager }},}

I am writing to apply for the {{ position }} at {{ company }}.

\closing{Sincerely,}
\end{letter}
\end{document}
