---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/branches?per_page=100&protected=false
        method: GET
      response:
        body: '[{"name":"main","commit":{"sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9"},"protected":false},{"name":"test/feature-branch-1","commit":{"sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9"},"protected":false},{"name":"test/feature-branch-1741336350","commit":{"sha":"f68aa0ed39aae8e2dedef581081dc181d637dded","url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/f68aa0ed39aae8e2dedef581081dc181d637dded"},"protected":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"3c62eba7f0a258eb2a25c705071fbd4674b94f2885c0fb100b9958cd2a084309"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4964"
            X-Ratelimit-Reset:
                - "1741364247"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "36"
        status: 200 OK
        code: 200
        duration: 264.269355ms
