# Virtual environments
.venv/
.venv
venv/
venv

# Git
.git/
.git
.github/
.gitignore

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
*.so

# Testing
.pytest_cache/
tests/
tests/results/
.coverage

# IDE
.vscode/
.idea/

# Documentation
docs/
*.md
!README.md

# Build artifacts
build/
dist/
*.egg-info/

# Docker files
Dockerfile*
docker-compose*

# Python files
.ruff_cache/

# OS
.DS_Store
Thumbs.db
