---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows/test-workflow.yml
        method: GET
      response:
        body: '{"id":149593961,"node_id":"W_kwDOOEmhcs4I6p9p","name":"Test Data Generation Workflow","path":".github/workflows/test-workflow.yml","state":"active","created_at":"2025-03-13T16:38:47.000Z","updated_at":"2025-03-13T16:38:47.000Z","url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows/149593961","html_url":"https://github.com/geropl/github-mcp-go-test/blob/main/.github/workflows/test-workflow.yml","badge_url":"https://github.com/geropl/github-mcp-go-test/workflows/Test%20Data%20Generation%20Workflow/badge.svg"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"80f70541a4bebd4f078950282205c9f3272f8941e915f82e9a4c91b87b6824fc"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "54"
            X-Ratelimit-Reset:
                - "1741954994"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "6"
        status: 200 OK
        code: 200
        duration: 131.685911ms
