---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722
        method: GET
      response:
        body: '{"id":13839912722,"name":"Test Data Generation Workflow","node_id":"WFR_kwLOOEmhcs8AAAADOOxPEg","head_branch":"main","head_sha":"2842b65553a02e4c6735e7155c95cd10e3fe801b","path":".github/workflows/test-workflow.yml","display_title":"Add \"Test Data Generation Workflow\"","run_number":1,"event":"push","status":"completed","conclusion":"success","workflow_id":149593961,"check_suite_id":35643004044,"check_suite_node_id":"CS_kwDOOEmhcs8AAAAITH0UjA","url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722","html_url":"https://github.com/geropl/github-mcp-go-test/actions/runs/13839912722","pull_requests":[],"created_at":"2025-03-13T16:38:51Z","updated_at":"2025-03-13T16:39:29Z","actor":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"run_attempt":1,"referenced_workflows":[],"run_started_at":"2025-03-13T16:38:51Z","triggering_actor":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"jobs_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722/jobs","logs_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722/logs","check_suite_url":"https://api.github.com/repos/geropl/github-mcp-go-test/check-suites/35643004044","artifacts_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722/artifacts","cancel_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722/cancel","rerun_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722/rerun","previous_attempt_url":null,"workflow_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows/149593961","head_commit":{"id":"2842b65553a02e4c6735e7155c95cd10e3fe801b","tree_id":"f6ae11c22dd0b499b1d5b7ea79fe44903330d3d4","message":"Add \"Test Data Generation Workflow\"\n\nTool: gitpod/catfood.gitpod.cloud","timestamp":"2025-03-13T16:38:45Z","author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io"}},"repository":{"id":944349554,"node_id":"R_kgDOOEmhcg","name":"github-mcp-go-test","full_name":"geropl/github-mcp-go-test","private":false,"owner":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/geropl/github-mcp-go-test","description":"Test repo for the github-mcp-go project","fork":false,"url":"https://api.github.com/repos/geropl/github-mcp-go-test","forks_url":"https://api.github.com/repos/geropl/github-mcp-go-test/forks","keys_url":"https://api.github.com/repos/geropl/github-mcp-go-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/geropl/github-mcp-go-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/geropl/github-mcp-go-test/teams","hooks_url":"https://api.github.com/repos/geropl/github-mcp-go-test/hooks","issue_events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/events{/number}","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/events","assignees_url":"https://api.github.com/repos/geropl/github-mcp-go-test/assignees{/user}","branches_url":"https://api.github.com/repos/geropl/github-mcp-go-test/branches{/branch}","tags_url":"https://api.github.com/repos/geropl/github-mcp-go-test/tags","blobs_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/geropl/github-mcp-go-test/statuses/{sha}","languages_url":"https://api.github.com/repos/geropl/github-mcp-go-test/languages","stargazers_url":"https://api.github.com/repos/geropl/github-mcp-go-test/stargazers","contributors_url":"https://api.github.com/repos/geropl/github-mcp-go-test/contributors","subscribers_url":"https://api.github.com/repos/geropl/github-mcp-go-test/subscribers","subscription_url":"https://api.github.com/repos/geropl/github-mcp-go-test/subscription","commits_url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/{+path}","compare_url":"https://api.github.com/repos/geropl/github-mcp-go-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/geropl/github-mcp-go-test/merges","archive_url":"https://api.github.com/repos/geropl/github-mcp-go-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/geropl/github-mcp-go-test/downloads","issues_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues{/number}","pulls_url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls{/number}","milestones_url":"https://api.github.com/repos/geropl/github-mcp-go-test/milestones{/number}","notifications_url":"https://api.github.com/repos/geropl/github-mcp-go-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/labels{/name}","releases_url":"https://api.github.com/repos/geropl/github-mcp-go-test/releases{/id}","deployments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/deployments"},"head_repository":{"id":944349554,"node_id":"R_kgDOOEmhcg","name":"github-mcp-go-test","full_name":"geropl/github-mcp-go-test","private":false,"owner":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_[...]
