---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722/jobs?page=1&per_page=30
        method: GET
      response:
        body: '{"total_count":1,"jobs":[{"id":38724486736,"run_id":13839912722,"workflow_name":"Test Data Generation Workflow","head_branch":"main","run_url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/runs/13839912722","run_attempt":1,"node_id":"CR_kwDOOEmhcs8AAAAJBCjGUA","head_sha":"2842b65553a02e4c6735e7155c95cd10e3fe801b","url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/jobs/38724486736","html_url":"https://github.com/geropl/github-mcp-go-test/actions/runs/13839912722/job/38724486736","status":"completed","conclusion":"success","created_at":"2025-03-13T16:38:53Z","started_at":"2025-03-13T16:38:59Z","completed_at":"2025-03-13T16:39:27Z","name":"generate-test-data","steps":[{"name":"Set up job","status":"completed","conclusion":"success","number":1,"started_at":"2025-03-13T16:38:59Z","completed_at":"2025-03-13T16:38:59Z"},{"name":"Checkout repository","status":"completed","conclusion":"success","number":2,"started_at":"2025-03-13T16:38:59Z","completed_at":"2025-03-13T16:39:00Z"},{"name":"Random Number Generation","status":"completed","conclusion":"success","number":3,"started_at":"2025-03-13T16:39:00Z","completed_at":"2025-03-13T16:39:05Z"},{"name":"Random Text Output","status":"completed","conclusion":"success","number":4,"started_at":"2025-03-13T16:39:05Z","completed_at":"2025-03-13T16:39:10Z"},{"name":"System Information with Random Formatting","status":"completed","conclusion":"success","number":5,"started_at":"2025-03-13T16:39:10Z","completed_at":"2025-03-13T16:39:15Z"},{"name":"Random File Operations","status":"completed","conclusion":"success","number":6,"started_at":"2025-03-13T16:39:15Z","completed_at":"2025-03-13T16:39:20Z"},{"name":"Random Calculations","status":"completed","conclusion":"success","number":7,"started_at":"2025-03-13T16:39:21Z","completed_at":"2025-03-13T16:39:26Z"},{"name":"Post Checkout repository","status":"completed","conclusion":"success","number":14,"started_at":"2025-03-13T16:39:27Z","completed_at":"2025-03-13T16:39:27Z"},{"name":"Complete job","status":"completed","conclusion":"success","number":15,"started_at":"2025-03-13T16:39:26Z","completed_at":"2025-03-13T16:39:26Z"}],"check_run_url":"https://api.github.com/repos/geropl/github-mcp-go-test/check-runs/38724486736","labels":["ubuntu-latest"],"runner_id":3,"runner_name":"GitHub Actions 3","runner_group_id":2,"runner_group_name":"GitHub Actions"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"07641b03a6bee515677cbd16ab4270573a3f5f34a19351f5fefa04f576844832"
            Github-Authentication-Token-Expiration:
                - 2025-04-12 17:32:16 +0200
            X-Accepted-Github-Permissions:
                - actions=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4997"
            X-Ratelimit-Reset:
                - "1741966913"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "3"
        status: 200 OK
        code: 200
        duration: 257.4515ms
