---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/pulls/1
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/1","id":2377960734,"node_id":"PR_kwDOOEmhcs6NvM0e","html_url":"https://github.com/geropl/github-mcp-go-test/pull/1","diff_url":"https://github.com/geropl/github-mcp-go-test/pull/1.diff","patch_url":"https://github.com/geropl/github-mcp-go-test/pull/1.patch","issue_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1","number":1,"state":"open","locked":false,"title":"Test PR","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"Test PR body","created_at":"2025-03-07T07:45:38Z","updated_at":"2025-03-07T07:45:38Z","closed_at":null,"merged_at":null,"merge_commit_sha":"7eb6fe8869efc2dce5386620c048b915a5da9923","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/1/commits","review_comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/1/comments","review_comment_url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/comments","statuses_url":"https://api.github.com/repos/geropl/github-mcp-go-test/statuses/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","head":{"label":"geropl:test/feature-branch-1","ref":"test/feature-branch-1","sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":944349554,"node_id":"R_kgDOOEmhcg","name":"github-mcp-go-test","full_name":"geropl/github-mcp-go-test","private":false,"owner":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/geropl/github-mcp-go-test","description":"Test repo for the github-mcp-go project","fork":false,"url":"https://api.github.com/repos/geropl/github-mcp-go-test","forks_url":"https://api.github.com/repos/geropl/github-mcp-go-test/forks","keys_url":"https://api.github.com/repos/geropl/github-mcp-go-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/geropl/github-mcp-go-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/geropl/github-mcp-go-test/teams","hooks_url":"https://api.github.com/repos/geropl/github-mcp-go-test/hooks","issue_events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/events{/number}","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/events","assignees_url":"https://api.github.com/repos/geropl/github-mcp-go-test/assignees{/user}","branches_url":"https://api.github.com/repos/geropl/github-mcp-go-test/branches{/branch}","tags_url":"https://api.github.com/repos/geropl/github-mcp-go-test/tags","blobs_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/geropl/github-mcp-go-test/statuses/{sha}","languages_url":"https://api.github.com/repos/geropl/github-mcp-go-test/languages","stargazers_url":"https://api.github.com/repos/geropl/github-mcp-go-test/stargazers","contributors_url":"https://api.github.com/repos/geropl/github-mcp-go-test/contributors","subscribers_url":"https://api.github.com/repos/geropl/github-mcp-go-test/subscribers","subscription_url":"https://api.github.com/repos/geropl/github-mcp-go-test/subscription","commits_url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/{+path}","compare_url":"https://api.github.com/repos/geropl/github-mcp-go-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/geropl/github-mcp-go-test/merges","archive_url":"https://api.github.com/repos/geropl/github-mcp-go-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/geropl/github-mcp-go-test/downloads","issues_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues{/number}","pulls_url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls{/number}","milestones_url":"https://api.github.com/repos/geropl/github-mcp-go-test/milestones{/number}","notifications_url":"https://api.github.com/repos/geropl/github-mcp-go-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/labels{/name}","releases_url":"https://api.github.com/repos/geropl/github-mcp-go-test/releases{/id}","deployments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/deployments","created_at":"2025-03-07T07:37:03Z","updated_at":"2025-03-07T07:43:08Z","pushed_at":"2025-03-07T10:00:33Z","git_url":"git://github.com/geropl/github-mcp-go-test.git","ssh_url":"git@github.com:geropl/github-mcp-go-test.git","clone_url":"https://github.com/geropl/github-mcp-go-test.git","svn_url":"https://github.com/geropl/github-mcp-go-test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main"}},"base":{"label":"geropl:main","ref":"main","sha":"f68aa0ed39aae8e2dedef581081dc181d637dded","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.co[...]
