---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/ref/heads/main
        method: GET
      response:
        body: '{"ref":"refs/heads/main","node_id":"REF_kwDOOEmhcq9yZWZzL2hlYWRzL21haW4","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/refs/heads/main","object":{"sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","type":"commit","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b49fe2cc12e8ab58743fdf64e83337ffa77aad88b6e0678c9d5f9eeef917a769"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 10:52:07 GMT
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Poll-Interval:
                - "300"
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4956"
            X-Ratelimit-Reset:
                - "1741364247"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "44"
        status: 200 OK
        code: 200
        duration: 211.544302ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"ref":"refs/heads/new-branch-from-branch","sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/git/refs
        method: POST
      response:
        body: '{"ref":"refs/heads/new-branch-from-branch","node_id":"REF_kwDOOEmhctoAIXJlZnMvaGVhZHMvbmV3LWJyYW5jaC1mcm9tLWJyYW5jaA","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/refs/heads/new-branch-from-branch","object":{"sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","type":"commit","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"46ba528df894b72bf7db194d2434f850870b7d8c4d6c917c67137ad9ae30718b"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Location:
                - https://api.github.com/repos/geropl/github-mcp-go-test/git/refs/heads/new-branch-from-branch
            X-Accepted-Github-Permissions:
                - contents=write; contents=write,workflows=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4955"
            X-Ratelimit-Reset:
                - "1741364247"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "45"
        status: 201 Created
        code: 201
        duration: 420.908418ms
