---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/branches/main
        method: GET
      response:
        body: '{"name":"main","commit":{"sha":"6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","node_id":"C_kwDOOEmhctoAKDZmNGUzMTJjMmUxNDc4ZDVhNTlmYzExZDFiYjBkMTQyMDlkYjIxZjk","commit":{"author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T07:43:55Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T07:43:55Z"},"message":"first draft of a design doc\n\nTool: gitpod/catfood.gitpod.cloud","tree":{"sha":"1a1eb16f1b7cd208ec090bc6d57a9947c45d1559","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/1a1eb16f1b7cd208ec090bc6d57a9947c45d1559"},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","html_url":"https://github.com/geropl/github-mcp-go-test/commit/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/6f4e312c2e1478d5a59fc11d1bb0d14209db21f9/comments","author":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"f68aa0ed39aae8e2dedef581081dc181d637dded","url":"https://api.github.com/repos/geropl/github-mcp-go-test/commits/f68aa0ed39aae8e2dedef581081dc181d637dded","html_url":"https://github.com/geropl/github-mcp-go-test/commit/f68aa0ed39aae8e2dedef581081dc181d637dded"}]},"_links":{"self":"https://api.github.com/repos/geropl/github-mcp-go-test/branches/main","html":"https://github.com/geropl/github-mcp-go-test/tree/main"},"protected":false,"protection":{"enabled":false,"required_status_checks":{"enforcement_level":"off","contexts":[],"checks":[]}},"protection_url":"https://api.github.com/repos/geropl/github-mcp-go-test/branches/main/protection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ca4a3f6f78725de0791ab24947225934f64bbf6bfc1fa35e8f952b7231e1770d"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4960"
            X-Ratelimit-Reset:
                - "1741364247"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "40"
        status: 200 OK
        code: 200
        duration: 203.102311ms
