---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"title":"Test Issue","body":"This is a test issue created by the test suite."}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/15","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/15/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/15/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/15/events","html_url":"https://github.com/geropl/github-mcp-go-test/issues/15","id":2902874234,"node_id":"I_kwDOOEmhcs6tBlh6","number":15,"title":"Test Issue","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-03-07T12:24:12Z","updated_at":"2025-03-07T12:24:12Z","closed_at":null,"author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"body":"This is a test issue created by the test suite.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/15/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/15/timeline","performed_via_github_app":null,"state_reason":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"3ef92c897ba8e2d633f2c8dd2050e2fe74efaefd8ab7e36a9151de8667146ac1"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Location:
                - https://api.github.com/repos/geropl/github-mcp-go-test/issues/15
            X-Accepted-Github-Permissions:
                - issues=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4979"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "21"
        status: 201 Created
        code: 201
        duration: 431.273813ms
