---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues?direction=desc&per_page=30&sort=created&state=closed
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/12","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/12/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/12/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/12/events","html_url":"https://github.com/geropl/github-mcp-go-test/pull/12","id":2902538178,"node_id":"PR_kwDOOEmhcs6NwHNA","number":12,"title":"PR with Reviewers","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-03-07T09:57:01Z","updated_at":"2025-03-07T09:57:04Z","closed_at":"2025-03-07T09:57:04Z","author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/12","html_url":"https://github.com/geropl/github-mcp-go-test/pull/12","diff_url":"https://github.com/geropl/github-mcp-go-test/pull/12.diff","patch_url":"https://github.com/geropl/github-mcp-go-test/pull/12.patch","merged_at":null},"body":"This PR has reviewers","closed_by":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/12/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/12/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/11","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/11/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/11/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/11/events","html_url":"https://github.com/geropl/github-mcp-go-test/pull/11","id":290[...]
