---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"body":"This is an updated test issue body."}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues/1
        method: PATCH
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/events","html_url":"https://github.com/geropl/github-mcp-go-test/pull/1","id":2902266838,"node_id":"PR_kwDOOEmhcs6NvM0e","number":1,"title":"Updated Test Issue Title","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2025-03-07T07:45:38Z","updated_at":"2025-03-07T12:24:16Z","closed_at":null,"author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/1","html_url":"https://github.com/geropl/github-mcp-go-test/pull/1","diff_url":"https://github.com/geropl/github-mcp-go-test/pull/1.diff","patch_url":"https://github.com/geropl/github-mcp-go-test/pull/1.patch","merged_at":null},"body":"This is an updated test issue body.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/timeline","performed_via_github_app":null,"state_reason":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"56af27fa186b81dee70234fc98bd744dfd5188067bb7de53fbc17aa3fff6d495"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - issues=write; pull_requests=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4974"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "26"
        status: 200 OK
        code: 200
        duration: 672.78839ms
