**/env
**/.env
**/venv
**/__pycache__
**/app.log
**/q_values.pkl
**/out
env/
**/*.db
**/*.pkl
**/*.pkl
**/index_store/
.env
**/node_modules
**/.next
**/.DS_Store
**/cache
**/embeddings_cache
**/git_index
**/git_tmp
**/containers.json
**/public-endpoint.json
