---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"title":"Test PR","head":"main","base":"main","body":"Test PR body","draft":false}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/pulls
        method: POST
      response:
        body: '{"message":"Validation Failed","errors":[{"resource":"PullRequest","code":"custom","message":"No commits between main and main"}],"documentation_url":"https://docs.github.com/rest/pulls/pulls#create-a-pull-request","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            X-Accepted-Github-Permissions:
                - pull_requests=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "3656"
            X-Ratelimit-Reset:
                - "1741342629"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "1344"
        status: 422 Unprocessable Entity
        code: 422
        duration: 403.463441ms
