{
  "printWidth": 110,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "tabWidth": 2,
        "bracketSpacing": true
      }
    }
  ]
}
