#include <winver.h>
#include "lemon/version.h"

1 VERSIONINFO
FILEVERSION     LEMON_VERSION_RC
PRODUCTVERSION  LEMON_VERSION_RC
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "AMD"
            VALUE "FileDescription", "Lemonade Server"
            VALUE "FileVersion", LEMON_VERSION_RC_STRING
            VALUE "InternalName", "lemonade-server"
            VALUE "LegalCopyright", "Copyright (C) 2024 AMD"
            VALUE "OriginalFilename", "lemonade-server.exe"
            VALUE "ProductName", "Lemonade Server"
            VALUE "ProductVersion", LEMON_VERSION_RC_STRING
            VALUE "Comments", "System tray interface for Lemonade AI Server"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
