---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows?page=1&per_page=30
        method: GET
      response:
        body: '{"total_count":1,"workflows":[{"id":149593961,"node_id":"W_kwDOOEmhcs4I6p9p","name":"Test Data Generation Workflow","path":".github/workflows/test-workflow.yml","state":"active","created_at":"2025-03-13T16:38:47.000Z","updated_at":"2025-03-13T16:38:47.000Z","url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows/149593961","html_url":"https://github.com/geropl/github-mcp-go-test/blob/main/.github/workflows/test-workflow.yml","badge_url":"https://github.com/geropl/github-mcp-go-test/workflows/Test%20Data%20Generation%20Workflow/badge.svg"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"3bd2b1a62596e407ecc3e5315d4ee3a568f3737acefb820f96095056f21abf41"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "60"
            X-Ratelimit-Remaining:
                - "51"
            X-Ratelimit-Reset:
                - "1741954994"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "9"
        status: 200 OK
        code: 200
        duration: 142.289115ms
