
.env
.env.*
**/.env
**/env/
env/
*.log
**/*.log
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite
*.sqlite3
.ipynb_checkpoints
.idea/
.vscode/
*.swp
.DS_Store
.git/
.gitignore
.gitattributes
Dockerfile
.dockerignore
build/
dist/
*.egg-info/
coverage.*
htmlcov/
*.spec
.cache/
__pypackages__/
.mypy_cache/
pytest_cache/
pip-wheel-metadata/
*.bak
*.tmp
*.old
*.orig
containers.json
public-endpoint.json
**/containers.json
**/public-endpoint.json

