---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"message":"Create test file for update","content":"IyBUZXN0IEZpbGUKClRoaXMgaXMgYSB0ZXN0IGZpbGUgZm9yIHVwZGF0aW5nLg==","branch":"main"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-update-file.md
        method: PUT
      response:
        body: '{"content":{"name":"test-update-file.md","path":"test-update-file.md","sha":"1ec8c453fd388044ba356e0be275aacd14bbd608","size":46,"url":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-update-file.md?ref=main","html_url":"https://github.com/geropl/github-mcp-go-test/blob/main/test-update-file.md","git_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/1ec8c453fd388044ba356e0be275aacd14bbd608","download_url":"https://raw.githubusercontent.com/geropl/github-mcp-go-test/main/test-update-file.md","type":"file","_links":{"self":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/test-update-file.md?ref=main","git":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/1ec8c453fd388044ba356e0be275aacd14bbd608","html":"https://github.com/geropl/github-mcp-go-test/blob/main/test-update-file.md"}},"commit":{"sha":"578d0c9e212ba512050e6f99022d7e1a3b2a011f","node_id":"C_kwDOOEmhctoAKDU3OGQwYzllMjEyYmE1MTIwNTBlNmY5OTAyMmQ3ZTFhM2IyYTAxMWY","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/578d0c9e212ba512050e6f99022d7e1a3b2a011f","html_url":"https://github.com/geropl/github-mcp-go-test/commit/578d0c9e212ba512050e6f99022d7e1a3b2a011f","author":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:51:51Z"},"committer":{"name":"Gero Posmyk-Leinemann","email":"gero@gitpod.io","date":"2025-03-07T10:51:51Z"},"tree":{"sha":"95b7268e4b267a55abe05699d72164b56b5c3033","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/trees/95b7268e4b267a55abe05699d72164b56b5c3033"},"message":"Create test file for update","parents":[{"sha":"10659703401f30ed3b8afaedcb1bbaaa5d7f9125","url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/commits/10659703401f30ed3b8afaedcb1bbaaa5d7f9125","html_url":"https://github.com/geropl/github-mcp-go-test/commit/10659703401f30ed3b8afaedcb1bbaaa5d7f9125"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"d7c1d076d87a68938be7e964c8fed407dfafe78df109a994ef592e8202400d32"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            X-Accepted-Github-Permissions:
                - contents=write; contents=write,workflows=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4873"
            X-Ratelimit-Reset:
                - "1741346230"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "127"
        status: 201 Created
        code: 201
        duration: 618.805855ms
