---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/contents/README.md
        method: GET
      response:
        body: '{"name":"README.md","path":"README.md","sha":"e337dd962793f45d58c42425477ce153e5c15350","size":180,"url":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/README.md?ref=main","html_url":"https://github.com/geropl/github-mcp-go-test/blob/main/README.md","git_url":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/e337dd962793f45d58c42425477ce153e5c15350","download_url":"https://raw.githubusercontent.com/geropl/github-mcp-go-test/main/README.md","type":"file","content":"IyBXaGF0IGlzIHRoaXM/CgpUaGlzIHJlcG9zaXRvcnkgc2VydmVzIGFzIHRl\nc3QgcmVwbyBmb3IgaHR0cHM6Ly9naXRodWIuY29tL2dlcm9wbC9naXRodWIt\nbWNwLWdvLiBBbGwgaXNzdWVzL2NvbW1pdHMvYnJhbmNoZXMvcHVsbCByZXF1\nZXN0cy9ldGMuIG1pZ2h0IGJlIHJlbGllZCB1cG9uIGluIHRlc3QgY2FzZXMu\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/geropl/github-mcp-go-test/contents/README.md?ref=main","git":"https://api.github.com/repos/geropl/github-mcp-go-test/git/blobs/e337dd962793f45d58c42425477ce153e5c15350","html":"https://github.com/geropl/github-mcp-go-test/blob/main/README.md"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e337dd962793f45d58c42425477ce153e5c15350"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 08:38:40 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 07:43:03 GMT
            X-Accepted-Github-Permissions:
                - contents=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4995"
            X-Ratelimit-Reset:
                - "1741346230"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "5"
        status: 200 OK
        code: 200
        duration: 285.903138ms
