# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Logs
*.log

# Test Reports
/tests/reports/*.md

.pypirc