# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Catch all
##################
*                                      @Azure/azure-mcp

##################
# Eng Sys
##################
/eng/                                  @Azure/azure-mcp @Azure/azure-sdk-eng
/.github/                              @Azure/azure-mcp @Azure/azure-sdk-eng
/.config/                              @Azure/azure-mcp @Azure/azure-sdk-eng

##################
# Services
##################
# PRLabel: %area-AKS
/areas/aks/                            @jongio @Azure/azure-mcp

# ServiceLabel: %area-AKS
# ServiceOwners:                       @jongio


# PRLabel: %area-AppConfig
/areas/appconfig/                      @JonathanCrd @conniey @Azure/azure-mcp

# ServiceLabel: %area-AppConfig
# ServiceOwners:                       @shenmuxiaosen @avanigupta


# PRLabel: %area-ACR
/areas/acr/                            @jongio @Azure/azure-mcp

# ServiceLabel: %area-ACR
# ServiceOwners:                       @jongio


# PRLabel: %area-BestPractices
/areas/azurebestpractices/             @g2vinay @conniey @Azure/azure-mcp

# ServiceLabel: %area-BestPractices
# ServiceOwners:                       @g2vinay @conniey

# PRLabel: %area-CloudArchitect
/areas/cloudarchitect/                         @msalaman @Azure/azure-mcp

# ServiceLabel: %area-CloudArchitect
# ServiceOwners:                       @msalaman

# PRLabel: %area-CosmosDB
/areas/cosmos/                         @sajeetharan @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-CosmosDB
# ServiceOwners:                       @sajeetharan @xiangyan99


# PRLabel: %area-Azd
/areas/extension/                      @wbreza @jongio @Azure/azure-mcp

# ServiceLabel: %area-Azd
# ServiceOwners:                       @wbreza @jongio


# PRLabel: %area-ARM
/areas/group/                          @ArthurMa1978 @jongio @Azure/azure-mcp

# ServiceLabel: %area-ARM
# ServiceOwners:                       @ArthurMa1978

# PRLabel: %area-Foundry
/areas/foundry/                        @jayzzh @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Foundry
# ServiceOwners:                       @jayzzh @xiangyan99

# PRLabel: %area-FunctionApp
/areas/functionapp/                   @jongio @Azure/azure-mcp

# ServiceLabel: %area-FunctionApp
# ServiceOwners:                      @jongio

# PRLabel: %area-Grafana
/areas/grafana/                        @weng5e @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Grafana
# ServiceOwners:                       @weng5e @xiangyan99

# PRLabel: %area-KeyVault
/areas/keyvault/                       @vcolin7 @JonathanCrd @Azure/azure-mcp

# ServiceLabel: %area-KeyVault
# ServiceOwners:                       @vcolin7 @JonathanCrd

# PRLabel: %area-ISV
/areas/azureisv/                       @jayanthjj @pachaturevedi

# ServiceLabel: %area-ISV
# ServiceOwners:                       @jayanthjj @pachaturevedi

# PRLabel: %area-Kusto
/areas/kusto/                          @danield137 @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Kusto
# ServiceOwners:                       @danield137


# PRLabel: %area-Marketplace
/areas/marketplace/                    @meirloichter @Azure/azure-mcp

# ServiceLabel: %area-Marketplace
# ServiceOwners:                       @meirloichter


# PRLabel: %area-Monitor
/areas/monitor/                        @smritiy @srnagar @jongio @Azure/azure-mcp

# ServiceLabel: %area-Monitor
# ServiceOwners:                       @smritiy @srnagar @jongio

# PRLabel: %area-AzureManagedLustre
/areas/azuremanagedlustre/                        @wolfgang-desalvador
# ServiceLabel: %area-AzureManagedLustre
# ServiceOwners:                       @wolfgang-desalvador

# PRLabel: %area-MySQL
/areas/mysql/                          @ramnov @mattkohnms @Azure/azure-mcp

# ServiceLabel: %area-MySQL
# ServiceOwners:                       @ramnov @mattkohnms


# PRLabel: %area-Postgres
/areas/postgres/                       @kk-src @shreyaaithal @maxluk @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Postgres
# ServiceOwners:                       @kk-src @shreyaaithal @maxluk


# PRLabel: %area-Search
/areas/search/                         @pablocastro @jongio @Azure/azure-mcp

# ServiceLabel: %area-Search
# ServiceOwners:                       @pablocastro


# PRLabel: %area-ServiceBus
/areas/servicebus/                     @anuchandy @conniey @Azure/azure-mcp

# ServiceLabel: %area-ServiceBus
# ServiceOwners:                       @shankarsama @EldertGrootenboer

# PRLabel: %area-Redis
/areas/redis/                          @philon-msft @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Redis
# ServiceOwners:                       @philon-msft @carldc

# PRLabel: %area-Storage
/areas/storage/                        @alzimmermsft @jongio @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Storage
# ServiceOwners:                       @alzimmermsft  @jongio

# PRLabel: %area-Authorization
/areas/authorization/                  @vurhanau @jongio @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Authorization
# ServiceOwners:                       @vurhanau

# PRLabel: %area-Deploy
/src/Areas/Deploy/                     @qianwens @xiaofanzhou @Azure/azure-mcp
/src/Areas/Quota/                      @qianwens @xiaofanzhou @Azure/azure-mcp

# ServiceLabel: %area-Deploy
# ServiceOwners:                       @qianwens @xiaofanzhou

# PRLabel: %area-LoadTesting
/areas/loadtesting/                    @nishtha489 @knarayanana @krchanda @johnsta @Azure/azure-mcp

# ServiceLabel: %area-LoadTesting
# ServiceOwners:                       @nishtha489 @knarayanana @krchanda @johnsta

# PRLabel: %area-VirtualDesktop
/areas/VirtualDesktop/                 @vladimisms @Azure/azure-mcp

# ServiceLabel: %area-VirtualDesktop
# ServiceOwners:                       @vladimisms
