---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"body":"This is a test comment."}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/non-existent-user/github-mcp-go-test/issues/1/comments
        method: POST
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/issues/comments#create-an-issue-comment","status":"404"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - issues=write; pull_requests=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4968"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "32"
        status: 404 Not Found
        code: 404
        duration: 156.451454ms
