---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"body":"This is a test comment."}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/comments
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments/2706321360","html_url":"https://github.com/geropl/github-mcp-go-test/pull/1#issuecomment-2706321360","issue_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1","id":2706321360,"node_id":"IC_kwDOOEmhcs6hTy_Q","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?u=2ca742eb0615cdafabea00f7bf3b2c0ebb99d9d3&v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2025-03-07T12:24:20Z","updated_at":"2025-03-07T12:24:20Z","author_association":"OWNER","body":"This is a test comment.","reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments/2706321360/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"da5082b8f480e728bb0668eeaba5ffcfee1e244a1bc073223310598289d665ca"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Location:
                - https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments/2706321360
            X-Accepted-Github-Permissions:
                - issues=write; pull_requests=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4969"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "31"
        status: 201 Created
        code: 201
        duration: 547.992186ms
