---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"title":"Test Issue with Labels","body":"This is a test issue with labels created by the test suite.","labels":["bug","enhancement"]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/16","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/16/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/16/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/16/events","html_url":"https://github.com/geropl/github-mcp-go-test/issues/16","id":2902874257,"node_id":"I_kwDOOEmhcs6tBliR","number":16,"title":"Test Issue with Labels","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":8255618595,"node_id":"LA_kwDOOEmhcs8AAAAB7BK-Iw","url":"https://api.github.com/repos/geropl/github-mcp-go-test/labels/bug","name":"bug","color":"d73a4a","default":true,"description":"Something isn''t working"},{"id":8255618610,"node_id":"LA_kwDOOEmhcs8AAAAB7BK-Mg","url":"https://api.github.com/repos/geropl/github-mcp-go-test/labels/enhancement","name":"enhancement","color":"a2eeef","default":true,"description":"New feature or request"}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-03-07T12:24:13Z","updated_at":"2025-03-07T12:24:13Z","closed_at":null,"author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"body":"This is a test issue with labels created by the test suite.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/16/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/16/timeline","performed_via_github_app":null,"state_reason":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"95d8b0143dd9e600ac23c79dc3273f7edaa63520bc2d098135217dac8e03a0b6"'
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Location:
                - https://api.github.com/repos/geropl/github-mcp-go-test/issues/16
            X-Accepted-Github-Permissions:
                - issues=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4978"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "22"
        status: 201 Created
        code: 201
        duration: 654.294916ms
