---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues/2
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/2","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/2/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/2/events","html_url":"https://github.com/geropl/github-mcp-go-test/pull/2","id":2902355512,"node_id":"PR_kwDOOEmhcs6Nvf4v","number":2,"title":"Test PR","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-03-07T08:33:10Z","updated_at":"2025-03-07T08:33:12Z","closed_at":"2025-03-07T08:33:12Z","author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/pulls/2","html_url":"https://github.com/geropl/github-mcp-go-test/pull/2","diff_url":"https://github.com/geropl/github-mcp-go-test/pull/2.diff","patch_url":"https://github.com/geropl/github-mcp-go-test/pull/2.patch","merged_at":null},"body":"Test PR body","closed_by":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/2/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/2/timeline","performed_via_github_app":null,"state_reason":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"032023054ccfa332be1ad3bae6b55a8029c90c0f37790e7d3e119de39ac40a44"
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            Last-Modified:
                - Fri, 07 Mar 2025 08:33:12 GMT
            X-Accepted-Github-Permissions:
                - issues=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=squirrel-girl-preview
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4990"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "10"
        status: 200 OK
        code: 200
        duration: 209.710603ms
