---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues?direction=desc&per_page=30&sort=created&state=invalid-state
        method: GET
      response:
        body: '{"message":"Validation Failed","errors":[{"value":"invalid-state","resource":"Issue","field":"state","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/issues/#list-issues","status":"422"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2025-04-06 13:14:03 +0200
            X-Accepted-Github-Permissions:
                - issues=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=squirrel-girl-preview
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4980"
            X-Ratelimit-Reset:
                - "1741353443"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "20"
        status: 422 Unprocessable Entity
        code: 422
        duration: 162.10972ms
