---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues?direction=desc&per_page=30&sort=created&state=open
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/14","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/14/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/14/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/14/events","html_url":"https://github.com/geropl/github-mcp-go-test/issues/14","id":2902872912,"node_id":"I_kwDOOEmhcs6tBlNQ","number":14,"title":"Test Issue with Labels","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":8255618595,"node_id":"LA_kwDOOEmhcs8AAAAB7BK-Iw","url":"https://api.github.com/repos/geropl/github-mcp-go-test/labels/bug","name":"bug","color":"d73a4a","default":true,"description":"Something isn''t working"},{"id":8255618610,"node_id":"LA_kwDOOEmhcs8AAAAB7BK-Mg","url":"https://api.github.com/repos/geropl/github-mcp-go-test/labels/enhancement","name":"enhancement","color":"a2eeef","default":true,"description":"New feature or request"}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-03-07T12:23:33Z","updated_at":"2025-03-07T12:23:33Z","closed_at":null,"author_association":"OWNER","sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"body":"This is a test issue with labels created by the test suite.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/14/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/14/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/13","repository_url":"https://api.github.com/repos/geropl/github-mcp-go-test","labels_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/13/labels{/name}","comments_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/13/comments","events_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/13/events","html_url":"https://github.com/geropl/github-mcp-go-test/issues/13","id":2[...]
