---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/issues/1/comments?direction=asc&per_page=30&sort=updated
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments/2706320404","html_url":"https://github.com/geropl/github-mcp-go-test/pull/1#issuecomment-2706320404","issue_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1","id":2706320404,"node_id":"IC_kwDOOEmhcs6hTywU","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/users/geropl","html_url":"https://github.com/geropl","followers_url":"https://api.github.com/users/geropl/followers","following_url":"https://api.github.com/users/geropl/following{/other_user}","gists_url":"https://api.github.com/users/geropl/gists{/gist_id}","starred_url":"https://api.github.com/users/geropl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/geropl/subscriptions","organizations_url":"https://api.github.com/users/geropl/orgs","repos_url":"https://api.github.com/users/geropl/repos","events_url":"https://api.github.com/users/geropl/events{/privacy}","received_events_url":"https://api.github.com/users/geropl/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2025-03-07T12:23:48Z","updated_at":"2025-03-07T12:23:48Z","author_association":"OWNER","body":"This is a test comment.","reactions":{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments/2706320404/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/comments/2706321360","html_url":"https://github.com/geropl/github-mcp-go-test/pull/1#issuecomment-2706321360","issue_url":"https://api.github.com/repos/geropl/github-mcp-go-test/issues/1","id":2706321360,"node_id":"IC_kwDOOEmhcs6hTy_Q","user":{"login":"geropl","id":32448529,"node_id":"MDQ6VXNlcjMyNDQ4NTI5","avatar_url":"https://avatars.githubusercontent.com/u/32448529?v=4","gravatar_id":"","url":"https://api.github.com/u[...]
