# configurations
.vscode
.claude

# dotnet build
bin
obj

# dotnet publish
publish
nupkg

# documentation
*.md

# scripts
*.ps1
*.sh

# project files
*.sln
*.asmdef

# MCP Publisher
.mcpregistry_github_token
.mcpregistry_registry_token

# other
smithery.yaml
server.json
commands
