node_modules
package-lock.json
dist
*.md
*.mdx
*.html
*.json
*.yaml
*.yml
*.sql
*.db
*.db-shm
*.db-wal
.DS_Store
.vscode
.idea
*.log
coverage
*.min.*
*.snap
.next
out
build
dist
.npm
.eslintcache
.node_repl_history
.npmrc
.prettierrc
.env
.env.*
!.env.example
!.env.test
